{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Apa sih tipe MBTI kamu? Yuk, kenalan dulu! | Foodie</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'assets/img/favicon.png' %}" rel="icon">
  <link href="{% static 'assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/icofont/icofont.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/venobox/venobox.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/owl.carousel/assets/owl.carousel.min.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Lumia - v2.2.0
  * Template URL: https://bootstrapmade.com/lumia-bootstrap-business-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
  <style type="text/css">
    ol {margin-left: 0;}
    li { list-style-position: inside; }
    .container-portfolio {
      margin: auto;
      width: 50%;
    }
    @media only screen and (max-width:800px) {
    /* For tablets: */
    .container-portfolio {
      margin: auto;
      width: 80%;
      padding: 0;
    }
  }
  @media only screen and (max-width:500px) {
    /* For mobile phones: */
    .container-portfolio{
      margin: auto;
      width: 80%;
    }
  }
  </style>
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center">
      <div class="container d-flex align-items-center" style="width: 100%; box-sizing: content-box;">

      <div class="logo">
          <!-- <h1><a href="{% url 'index' %}">Foodie</a></h1> -->
          <!-- Uncomment below if you prefer to use an image logo -->
          <a href="{% url 'index' %}"><img src="{% static 'assets/img/logo.jpg' %}" style="width: 25%;" alt="logo"></a>
        </div>

      <nav class="nav-menu d-none d-xl-block" style="width: 100%;">
          <ul>
            <li><a href="{% url 'index' %}">Home</a></li>
            <li><a href="{% url 'kuliner-terkini' %}">Kuliner Terkini</a></li>
            <li><a href="{% url 'pojok-resep' %}">Pojok Resep</a></li>
            <li><a href="{% url 'fiber-foodie' %}">Fiber Foodie</a></li>
            <li><a href="{% url 'rekomendasi-tempat' %}">Rekomendasi Tempat</a></li>
            <li><a href="{% url 'tips-dan-trik' %}">Tips & Trik</a></li>
            <li><a href="{% url 'profil' %}">Profil</a></li>

        </ul>
      </nav><!-- .nav-menu -->

    </div>
  </header><!-- End Header -->

  <main id="main">

    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
      <div class="container-portfolio">

        <div class="portfolio-details-container">
          <br><br><br><br><br><br>
          <h1 style="text-align: center;">Apa sih tipe MBTI kamu? Yuk, kenalan dulu!</h1>
          <br><br>

          <div class="owl-carousel portfolio-details-carousel">
            <img src="{% static 'assets/img/fiber-foodie/fiber-foodie-1-1.jpg' %}" class="img-fluid" alt="">
          </div>
          <p style="text-align: center;">Sumber foto : Google</p>
          <h6>Reporter : Andyta Novianty</h6>

        </div>

        <div class="portfolio-description" style="overflow-wrap: break-word">
          <p style="text-align: justify;">
            <b>Jakarta, Foodie.id —</b> Menurut Wikipedia, <b><i>Myers-Briggs Type Indicator (MBTI)</i></b> adalah psikotes yang dirancang untuk mengukur preferensi psikologis seseorang dalam melihat dunia dan membuat keputusan.</p> 
          <p style="text-align: justify;"><b><i>MBTI</i></b> sendiri dikembangkan oleh Isabel Briggs Myers sejak 1940. Psikotes ini diracang untuk mengukur kecerdasan individu, bakat, dan tipe kepribadian seseorang.</p>
        </div>

        <br>
        <div class="owl-carousel portfolio-details-carousel">
          <img src="{% static 'assets/img/fiber-foodie/fiber-foodie-1-1.jpg' %}" class="img-fluid" alt="">
        </div>
        <p style="text-align: center;">Sumber foto : Google</p>
        <br>

        <p style="text-align: justify;"><b><i>MBTI</i></b> Basic yang diterbitkan oleh <i>Myers Briggs Foundation</i> menjelaskan, dua tujuan terkait dalam perkembangan dan penerapan instrumen <i>MBTI</i>, yaitu :
        </p>

        <ol type="a">
          <li><span class="li-content">Identifikasi dari dasar preferensi yang tersirat dalam Teori <i>Carl Jung.</i></span></li>
          <li>Identifikasi dan deskripsi dari 16 tipe kepribadian yang merupakan hasil dari interaksi dan preferensi.</li>
        </ol>

        <p style="text-align: justify;">Pusat Kepribadian & Psikologi Indonesia, menjelaskan dalam <i>MBTI</i>, ada 4 dimensi kecenderungan sifat dasar manusia :</p>

        <ol>
          <li>Dimensi pemusatan perhatian : <i>Introvert (I)</i> vs <i>Ekstrovert (E)</i></li>
          <li>Dimensi memahami informasi dari luar : <i>Sensing (S)</i>  vs <i>Intuition (I)</i></li>
          <li>Dimensi menarik kesimpulan & keputusan : <i>Thinking (T)</i> vs <i>Feeling (F)</i></li>
          <li>Dimensi pola hidup : <i>Judging (J)</i> vs <i>Perceiving (P)</i></li>
        </ol>

        <p style="text-align: justify;">Lalu, setiap tipe punya susunan fungsi kognitif yang berbeda-beda, yaitu :
        </p>

        <ol>
          <li>Se <i>(Extroverted Sensing)</i></li>
          <li>Si <i>(Introverted Sensing)</i></li>
          <li>Ne <i>(Extroverted Intuition)</i></li>
          <li>Ni <i>(Introverted Intuition)</i></li>
          <li>Te <i>(Extroverted Thinking)</i></li>
          <li>Ti <i>(Introverted Thinking)</i></li>
          <li>Fe <i>(Extroverted Feeling)</i></li>
          <li>Fi <i>(Introverted Feeling)</i></li>
        </ol>

        <br>
        <div class="owl-carousel portfolio-details-carousel">
          <img src="{% static 'assets/img/fiber-foodie/fiber-foodie-1-4.jpg' %}" class="img-fluid" alt="">
        </div>
        <p style="text-align: center;">Sumber foto : Google</p>
        
        <br>
        <div class="owl-carousel portfolio-details-carousel">
          <img src="{% static 'assets/img/fiber-foodie/fiber-foodie-1-3.jpg' %}" class="img-fluid" alt="">
        </div>
        <p style="text-align: center;">Sumber foto : Google</p>
        <br>

        <p style="text-align: justify;">Berdasarkan tipe dimensi dasar tersebut, terbentuklah 16 tipe kepribadian, yaitu :
        </p>

        <ol>
          <li><i>ESTJ : Extrovert, Sensing, Thinking, Judging</i></li>
          <li><i>ENTJ : Extrovert, Intuition, Thinking, Judging</i></li>
          <li><i>ESFJ : Extrovert, Sensing, Feeling, Judging</i></li>
          <li><i>ENFJ : Extrovert, Intuition, Feeling, Judging</i></li>
          <li><i>ESTP : Extrovert, Sensing, Thinking, Perceiving</i></li>
          <li><i>ENTP : Extrovert, Intuition, Thinking, Perceiving</i></li>
          <li><i>ESFP : Extrovert, Sensing, Feeling, Perceiving</i></li>
          <li><i>ENFP : Extrovert, Intuition, Feeling, Perceiving</i></li>
          <li><i>INFP : Introvert, Intuition, Feeling, Perceiving</i></li>
          <li><i>ISFP : Introvert, Sensing, Feeling, Perceiving</i></li>
          <li><i>INTP : Introvert, Intuition, Thinking, Perceiving</i></li>
          <li><i>ISTP : Introvert, Sensing, Thinking, Perceiving</i></li>
          <li><i>INFJ : Introvert, Intuition, Feeling, Judging</i></li>
          <li><i>ISFJ : Introvert, Sensing, Feeling, Judging</i></li>
          <li><i>INTJ : Introvert, Intuition, Thinking, Judging</i></li>
          <li><i>ISTJ : Introvert, Sensing, Thinking, Judging</i></li>
        </ol>

        <p>Jika kalian ingin segera mengetahui apa tipe kepribadian <i>MBTI</i>, silahkan kunjungi <a href="www.16personalities.com">www.16personalities.com</a> dan temukan tipe kepribadianmu!
        </p>

        <br>
        <div class="owl-carousel portfolio-details-carousel">
          <img src="{% static 'assets/img/fiber-foodie/fiber-foodie-1-5.jpg' %}" class="img-fluid" alt="">
        </div>
        <p style="text-align: center;">Sumber foto : Google</p>
        <br>


      </div>
    </section><!-- End Portfolio Details Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="container d-md-flex py-4">

      <div class="mr-md-auto text-center text-md-left">
        <div class="copyright">
          &copy; Copyright <strong><span>Lumia</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
          <!-- All the links in the footer should remain intact. -->
          <!-- You can delete the links only if you purchased the pro version. -->
          <!-- Licensing information: https://bootstrapmade.com/license/ -->
          <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/lumia-bootstrap-business-template/ -->
          Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
        </div>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'assets/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/jquery.easing/jquery.easing.min.js' %}"></script>
  <script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>
  <script src="{% static 'assets/vendor/waypoints/jquery.waypoints.min.js' %}"></script>
  <script src="{% static 'assets/vendor/counterup/counterup.min.js' %}"></script>
  <script src="{% static 'assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'assets/vendor/venobox/venobox.min.js' %}"></script>
  <script src="{% static 'assets/vendor/owl.carousel/owl.carousel.min.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'assets/js/main.js' %}"></script>

</body>

</html>