{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Trend Pola Makan Sehat di Tahun 2021 | Foodie</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'assets/img/favicon.png' %}" rel="icon">
  <link href="{% static 'assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/icofont/icofont.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/venobox/venobox.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/owl.carousel/assets/owl.carousel.min.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Lumia - v2.2.0
  * Template URL: https://bootstrapmade.com/lumia-bootstrap-business-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
  <style type="text/css">
    ol {margin-left: 0;}
    li { list-style-position: inside; }
    .container-portfolio {
      margin: auto;
      width: 50%;
    }
    @media only screen and (max-width:800px) {
    /* For tablets: */
    .container-portfolio {
      margin: auto;
      width: 80%;
      padding: 0;
    }
  }
  @media only screen and (max-width:500px) {
    /* For mobile phones: */
    .container-portfolio{
      margin: auto;
      width: 80%;
    }
  }
  </style>
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center">
      <div class="container d-flex align-items-center" style="width: 100%; box-sizing: content-box;">

      <div class="logo">
          <!-- <h1><a href="{% url 'index' %}">Foodie</a></h1> -->
          <!-- Uncomment below if you prefer to use an image logo -->
          <a href="{% url 'index' %}"><img src="{% static 'assets/img/logo.jpg' %}" style="width: 25%;" alt="logo"></a>
        </div>

      <nav class="nav-menu d-none d-xl-block" style="width: 100%;">
          <ul>
            <li><a href="{% url 'index' %}">Home</a></li>
            <li><a href="{% url 'kuliner-terkini' %}">Kuliner Terkini</a></li>
            <li><a href="{% url 'pojok-resep' %}">Pojok Resep</a></li>
            <li><a href="{% url 'fiber-foodie' %}">Fiber Foodie</a></li>
            <li><a href="{% url 'rekomendasi-tempat' %}">Rekomendasi Tempat</a></li>
            <li><a href="{% url 'tips-dan-trik' %}">Tips & Trik</a></li>
            <li><a href="{% url 'profil' %}">Profil</a></li>
        </ul>
      </nav><!-- .nav-menu -->

    </div>
  </header><!-- End Header -->

  <main id="main">

    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
      <div class="container-portfolio">

        <div class="portfolio-details-container">
          <br><br><br><br><br><br>
          <h1 style="text-align: center;">Trend Pola Makan Sehat di Tahun 2021</h1>
          <br><br>

          <div class="owl-carousel portfolio-details-carousel">
            <img src="{% static 'assets/img/fiber-foodie/fiber-foodie-10.jpg' %}" class="img-fluid" alt="">
          </div>
          <p style="text-align: center;">Sumber foto : Google</p>
          <h6>Reporter : Andyta Novianty</h6>

        </div>

        <div class="portfolio-description" style="overflow-wrap: break-word">
          <p style="text-align: justify;"><b>Depok, Foodie.id —</b> Pandemi <i>Covid-19</i> selain memberikan dampak terhadap sistem pendidikan juga telah berpengaruh terhadap perubahan pola makan masyarakat Indonesia.</p>
          <p style="text-align: justify;">Menurut <i>The Healthy</i>, (3/1), sebanyak 85 persen orang Amerika melaporkan mengubah kebiasaan makan dan belanja makanan pada 2020. Laporan ini juga sama dengan laporan dari Survei Makanan & Kesehatan 2020 dari Dewan Informasi Makanan Internasional (IFIC).</p>
          <p style="text-align: justify;">Para ahli diet pun tak hanya tinggal diam. Mereka telah memprediksi beberapa tren pola makan sehat untuk 2021. Tren pola makan sehat ini pun tentu sangat cocok untuk dilakukan selama masa pandemi ini.</p>
          <p style="text-align: justify;">Hal pertama yang bisa kita lakukan adalah untuk lebih sering memasak di rumah. Selama masa pandemi, kita diharuskan untuk selalu berada di rumah untuk mencegah diri kita tertular virus <i>covid-19</i>. Oleh karena itu, kita dianjurkan untuk lebih sering memasak di rumah tanpa harus membeli makanan dari luar.</p>
          <p style="text-align: justify;">Menurut pendiri <i>Nutrition Starring</i> YOU dan penulis <i>The Protein-Packed Breakfast Club</i>, Lauren Harris-Pincus, RDN, dari sudut pandang nutrisi, memasak di rumah memungkinkan orang untuk mengkonsumsi lebih sedikit lemak, natrium, dan gula tambahan.</p>
          <p style="text-align: justify;">Selanjutnya, hal yang dapat kita lakukan untuk menjaga pola makan sehat selama pandemi yaitu belanja makanan secara daring. Berbelanja secara daring menjadi pilihan utama yang sangat praktis dilakukan di masa seperti ini.</p>
          <p style="text-align: justify;">Menurut Coresight Research US Online Grocery Survey 2020, lebih dari separuh dari masyarakat Amerika, telah membeli bahan makanan secara daring tahun ini. Bahkan, angkanya mencapai dua kali lipat dari mereka yang melakukannya dua tahun lalu. </p>
          <p style="text-align: justify;">Data tersebut menjelaskan bahwa belanja secara daring selama masa pandemi seperti sekarang ini membantu untuk menghindari virus, kuman, dan bakteri yang ada di pasar atau supermarket. </p>
          <br><br>
          <p>Sumber</p>
          <p><a href="https://republika.co.id/berita/qmcdmt463/tren-makan-sehat-di-2021-menurut-ahli-diet">https://republika.co.id/berita/qmcdmt463/tren-makan-sehat-di-2021-menurut-ahli-diet</a> </p>
</div>
    </section><!-- End Portfolio Details Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="container d-md-flex py-4">

      <div class="mr-md-auto text-center text-md-left">
        <div class="copyright">
          &copy; Copyright <strong><span>Lumia</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
          <!-- All the links in the footer should remain intact. -->
          <!-- You can delete the links only if you purchased the pro version. -->
          <!-- Licensing information: https://bootstrapmade.com/license/ -->
          <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/lumia-bootstrap-business-template/ -->
          Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
        </div>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'assets/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/jquery.easing/jquery.easing.min.js' %}"></script>
  <script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>
  <script src="{% static 'assets/vendor/waypoints/jquery.waypoints.min.js' %}"></script>
  <script src="{% static 'assets/vendor/counterup/counterup.min.js' %}"></script>
  <script src="{% static 'assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'assets/vendor/venobox/venobox.min.js' %}"></script>
  <script src="{% static 'assets/vendor/owl.carousel/owl.carousel.min.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'assets/js/main.js' %}"></script>

</body>

</html>