{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Makanan Sehat Kaya Magnesium Jaga Metabolisme Tubuh | Foodie</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'assets/img/favicon.png' %}" rel="icon">
  <link href="{% static 'assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/icofont/icofont.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/venobox/venobox.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/owl.carousel/assets/owl.carousel.min.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Lumia - v2.2.0
  * Template URL: https://bootstrapmade.com/lumia-bootstrap-business-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
  <style type="text/css">
    ol {margin-left: 0;}
    li { list-style-position: inside; }
    .container-portfolio {
      margin: auto;
      width: 50%;
    }
    @media only screen and (max-width:800px) {
    /* For tablets: */
    .container-portfolio {
      margin: auto;
      width: 80%;
      padding: 0;
    }
  }
  @media only screen and (max-width:500px) {
    /* For mobile phones: */
    .container-portfolio{
      margin: auto;
      width: 80%;
    }
  }
  </style>
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center">
      <div class="container d-flex align-items-center" style="width: 100%; box-sizing: content-box;">

      <div class="logo">
          <!-- <h1><a href="{% url 'index' %}">Foodie</a></h1> -->
          <!-- Uncomment below if you prefer to use an image logo -->
          <a href="{% url 'index' %}"><img src="{% static 'assets/img/logo.jpg' %}" style="width: 25%;" alt="logo"></a>
        </div>

      <nav class="nav-menu d-none d-xl-block" style="width: 100%;">
          <ul>
            <li><a href="{% url 'index' %}">Home</a></li>
            <li><a href="{% url 'kuliner-terkini' %}">Kuliner Terkini</a></li>
            <li><a href="{% url 'pojok-resep' %}">Pojok Resep</a></li>
            <li><a href="{% url 'fiber-foodie' %}">Fiber Foodie</a></li>
            <li><a href="{% url 'rekomendasi-tempat' %}">Rekomendasi Tempat</a></li>
            <li><a href="{% url 'tips-dan-trik' %}">Tips & Trik</a></li>
            <li><a href="{% url 'profil' %}">Profil</a></li>

        </ul>
      </nav><!-- .nav-menu -->

    </div>
  </header><!-- End Header -->

  <main id="main">

    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
      <div class="container-portfolio">

        <div class="portfolio-details-container">
          <br><br><br><br><br><br>
          <h1 style="text-align: center;">Makanan Sehat Kaya Magnesium Jaga Metabolisme Tubuh</h1>
          <br><br>

          <div class="owl-carousel portfolio-details-carousel">
            <img src="{% static 'assets/img/fiber-foodie/fiber-foodie-4-1.jpg' %}" class="img-fluid" alt="">
          </div>
          <p style="text-align: center;">Sumber foto : Google</p>
          <h6>Reporter : Andyta Novianty</h6>

        </div>

        <div class="portfolio-description" style="overflow-wrap: break-word">
          <p style="text-align: justify;"><b>Depok, Foodie.id —</b> Magnesium bermanfaat dalam menjaga metabolisme tubuh, menghasilkan enzim, menjaga kesehatan tulang, otot, dan jantung serta mengatur produksi hormon melatonin yang membantu mendukung tidur lebih nyenyak.</p>
          <p style="text-align: justify;">Beda usia, beda juga kebutuhan magnesium untuk setiap orang. Usia 19 hingga 30 tahun memiliki kebutuhan magnesium per harinya adalah 310 miligram. Berikut dilansir oleh <i>Popsugar</i>, (30/12), ada 12 makanan yang kaya akan magnesium :</p>
          
          <p><b>1. Kenari</b></p>
          <div class="owl-carousel portfolio-details-carousel">
            <img src="{% static 'assets/img/fiber-foodie/fiber-foodie-4-2.jpg' %}" class="img-fluid"  style="max-width: 500px; height: auto; margin:auto;" alt="">
          </div>
          <p style="text-align: center;">Sumber foto : Google</p>
          <p style="text-align: justify;">Jenis kacang – kacangan ini mengandung 44 miligram magnesium per ons, yang juga kaya akan asam lemak dan serat omega-3.
            Data tersebut menjelaskan bahwa mengonsumsi kacang kenari secara rutin dapat meningkatkan kesehatan usus. Kacang kenari juga dapat membantu mengurangi gejala depresi.</p>
          
          <br>
          <p><b>2. Salmon</b></p>
          <div class="owl-carousel portfolio-details-carousel">
            <img src="{% static 'assets/img/fiber-foodie/fiber-foodie-4-3.jpg' %}" class="img-fluid"  style="max-width: 500px; height: auto; margin:auto;" alt="">
          </div>
          <p style="text-align: center;">Sumber foto : Google</p>
          <p style="text-align: justify;">Salmon yang mengandung magnesium ini juga kaya akan omega-3 yang menyehatkan jantung. Salmon yang bersertifikat <i>Best Aquaculture Practices</i> (BAP) memiliki kualitas daging yang tinggi dan aman.
          </p>

          <br>
          <p><b>3. Jus Jeruk</b></p>
          <div class="owl-carousel portfolio-details-carousel">
            <img src="{% static 'assets/img/fiber-foodie/fiber-foodie-4-4.jpg' %}" class="img-fluid"  style="max-width: 500px; height: auto; margin:auto;" alt="">
          </div>
          <p style="text-align: center;">Sumber foto : Google</p>
          <p style="text-align: justify;">Kandungan dalam segelas jus jeruk dapat menambah 27 miligram magnesium ke dalam tubuh.
          </p>

          <br>
          <p><b>4. Biji Labu</b></p>
          <div class="owl-carousel portfolio-details-carousel">
            <img src="{% static 'assets/img/fiber-foodie/fiber-foodie-4-5.jpg' %}" class="img-fluid"  style="max-width: 500px; height: auto; margin:auto;" alt="">
          </div>
          <p style="text-align: center;">Sumber foto : Google</p>
          <p style="text-align: justify;">Kandungan dalam satu ons biji labu terdapat 74 miligram magnesium, cocok menjadi camilan alternatif.
          </p>

          <br>
          <p><b>5. Lentil</b></p>
          <div class="owl-carousel portfolio-details-carousel">
            <img src="{% static 'assets/img/fiber-foodie/fiber-foodie-4-6.jpg' %}" class="img-fluid"  style="max-width: 500px; height: auto; margin:auto;" alt="">
          </div>
          <p style="text-align: center;">Sumber foto : Google</p>
          <p style="text-align: justify;">Mengonsumsi lentil yang mengandung 72 miligram magnesium per cangkir ini membantu memenuhi kebutuhan magnesium harian. Bisa dikonsumsi dengan menambahkan lentil pada sup, salad, maupun smoothie.
          </p>

          <br>
          <p><b>6. Bayam</b></p>
          <div class="owl-carousel portfolio-details-carousel">
            <img src="{% static 'assets/img/fiber-foodie/fiber-foodie-4-7.jpg' %}" class="img-fluid"  style="max-width: 500px; height: auto; margin:auto;" alt="">
          </div>
          <p style="text-align: center;">Sumber foto : Google</p>
          <p style="text-align: justify;">Semangkuk sayur bayam mengandung lebih dari 150 miligram magnesium.
          </p>

          <br>
          <p><b>7. Cokelat Hitam</b></p>
          <div class="owl-carousel portfolio-details-carousel">
            <img src="{% static 'assets/img/fiber-foodie/fiber-foodie-4-8.jpg' %}" class="img-fluid"  style="max-width: 500px; height: auto; margin:auto;" alt="">
          </div>
          <p style="text-align: center;">Sumber foto : Google</p>
          <p style="text-align: justify;">Satu ons cokelat mengandung 65 miligram magnesium. Mengonsumsi sepotong cokelat hitam dapat memenuhi kebutuhan magnesium harian.
          </p>

          <br>
          <p><b>8. Susu</b></p>
          <div class="owl-carousel portfolio-details-carousel">
            <img src="{% static 'assets/img/fiber-foodie/fiber-foodie-4-9.jpg' %}" class="img-fluid"  style="max-width: 500px; height: auto; margin:auto;" alt="">
          </div>
          <p style="text-align: center;">Sumber foto : Google</p>
          <p style="text-align: justify;">Selain mengandung kalsium, susu juga merupakan sumber alami magnesium, mineral yang membantu mengurangi resiko terkena osteoporosis.
          </p>

          <br>
          <p><b>9. Kentang</b></p>
          <div class="owl-carousel portfolio-details-carousel">
            <img src="{% static 'assets/img/fiber-foodie/fiber-foodie-4-10.jpg' %}" class="img-fluid"  style="max-width: 500px; height: auto; margin:auto;" alt="">
          </div>
          <p style="text-align: center;">Sumber foto : Google</p>
          <p style="text-align: justify;">Mengonsumsi kentang membantu dalam memenuhi asupan magnesium harian tubuh.
          </p>

          <br>
          <p><b>10. Alpukat</b></p>
          <div class="owl-carousel portfolio-details-carousel">
            <img src="{% static 'assets/img/fiber-foodie/fiber-foodie-4-11.jpg' %}" class="img-fluid"  style="max-width: 500px; height: auto; margin:auto;" alt="">
          </div>
          <p style="text-align: center;">Sumber foto : Google</p>
          <p style="text-align: justify;">Alpukat merupakan satu-satunya buah yang mengandung magnesium. Setengah buah alpukat mengandung 22 miligram magnesium.
          </p>

          <br>
          <p><b>11. Soba</b></p>
          <div class="owl-carousel portfolio-details-carousel">
            <img src="{% static 'assets/img/fiber-foodie/fiber-foodie-4-12.jpg' %}" class="img-fluid"  style="max-width: 500px; height: auto; margin:auto;" alt="">
          </div>
          <p style="text-align: center;">Sumber foto : Google</p>
          <p style="text-align: justify;">Soba atau yang dikenal dengan Kasha adalah makanan pokok di negara Eropa. Soba mengandung magnesium terbaik dan juga sarat dengan antioksidan, serat, dan protein.
          </p>

          <br>
          <p><b>12. Kacang</b></p>
          <div class="owl-carousel portfolio-details-carousel">
            <img src="{% static 'assets/img/fiber-foodie/fiber-foodie-4-13.jpg' %}" class="img-fluid"  style="max-width: 500px; height: auto; margin:auto;" alt="">
          </div>
          <p style="text-align: center;">Sumber foto : Google</p>
          <p style="text-align: justify;">Satu ons kacang mengandung 48 miligram magnesium dan ini membantu memenuhi asupan magnesium harian tubuh.
          </p>

          <br><br>
          <p>Sumber</p>
          <p><a href="https://republika.co.id/berita/qm5fr1463/12-makanan-sehat-kaya-magnesium-part1">https://republika.co.id/berita/qm5fr1463/12-makanan-sehat-kaya-magnesium-part1</a></p>


      </div>
    </section><!-- End Portfolio Details Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="container d-md-flex py-4">

      <div class="mr-md-auto text-center text-md-left">
        <div class="copyright">
          &copy; Copyright <strong><span>Lumia</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
          <!-- All the links in the footer should remain intact. -->
          <!-- You can delete the links only if you purchased the pro version. -->
          <!-- Licensing information: https://bootstrapmade.com/license/ -->
          <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/lumia-bootstrap-business-template/ -->
          Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
        </div>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'assets/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/jquery.easing/jquery.easing.min.js' %}"></script>
  <script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>
  <script src="{% static 'assets/vendor/waypoints/jquery.waypoints.min.js' %}"></script>
  <script src="{% static 'assets/vendor/counterup/counterup.min.js' %}"></script>
  <script src="{% static 'assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'assets/vendor/venobox/venobox.min.js' %}"></script>
  <script src="{% static 'assets/vendor/owl.carousel/owl.carousel.min.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'assets/js/main.js' %}"></script>

</body>

</html>