{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Fiber Foodie | Foodie</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'assets/img/favicon.png' %}" rel="icon">
  <link href="{% static 'assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/icofont/icofont.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/venobox/venobox.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/owl.carousel/assets/owl.carousel.min.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Lumia - v2.2.0
  * Template URL: https://bootstrapmade.com/lumia-bootstrap-business-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->

  <style>
    .img-fluid{
      width:500px;
      height:300px;
      object-fit:cover;
      object-position: 50% 80%;
    }
  </style>
</head>

<body>

    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top d-flex align-items-center">
      <div class="container d-flex align-items-center" style="width: 100%; box-sizing: content-box;">
  
        <div class="logo">
          <!-- <h1><a href="{% url 'index' %}">Foodie</a></h1> -->
          <!-- Uncomment below if you prefer to use an image logo -->
          <a href="{% url 'index' %}"><img src="{% static 'assets/img/logo.jpg' %}" style="width: 25%;" alt="logo"></a>
        </div>
        
        <nav class="nav-menu d-none d-xl-block" style="width: 100%;">
          <ul>
            <li><a href="{% url 'index' %}">Home</a></li>
            <li><a href="{% url 'kuliner-terkini' %}">Kuliner Terkini</a></li>
            <li><a href="{% url 'pojok-resep' %}">Pojok Resep</a></li>
            <li class="active"><a href="{% url 'fiber-foodie' %}">Fiber Foodie</a></li>
            <li><a href="{% url 'rekomendasi-tempat' %}">Rekomendasi Tempat</a></li>
            <li><a href="{% url 'tips-dan-trik' %}">Tips & Trik</a></li>
            <li><a href="{% url 'profil' %}">Profil</a></li>
  
          </ul>
        </nav><!-- .nav-menu -->

      </div>
    </header><!-- End Header -->

    <main id="main">
        <br><br><br>
        <!-- ======= Portfolio Section ======= -->
        <section id="portfolio" class="portfolio">
            <div class="container">
    
            <div class="section-title">
                <h2>Fiber Foodie</h2>
                <p>Kumpulan berita yang membahas tentang makanan sehat</p>
            </div>
    
            <div class="owl-carousel portfolio-details-carousel">
              <img src="{% static 'assets/img/fiber-foodie/infografis-fiber-foodie.png' %}" style="max-width:500px; height: auto; margin: auto; margin-bottom: 30px;" alt="infografis-tips-and-trik">
            </div>

            <br>
            <h2><b>Berita seputar Fiber Foodie</b></h2>
            <br>

            <div class="row portfolio-container">
    
                <div class="col-lg-4 col-md-6 portfolio-item filter-app wow fadeInUp">
                <div class="portfolio-wrap">
                    <figure>
                    <img src="{% static 'assets/img/fiber-foodie/fiber-foodie-1-1.jpg' %}" class="img-fluid" alt="">
                    <a href="{% static 'assets/img/fiber-foodie/fiber-foodie-1-1.jpg' %}" data-gall="portfolioGallery" class="link-preview venobox" title="Preview"><i class="bx bx-plus"></i></a>
                    <a href="{% url 'fiber-foodie-article-1' %}" class="link-details" title="More Details"><i class="bx bx-link"></i></a>
                    </figure>
    
                    <div class="portfolio-info">
                    <h4>Apa sih tipe MBTI kamu?</h4>
                    <h4>Yuk, kenalan dulu!</h4>
                    <p><a href="{% url 'fiber-foodie-article-1' %}">Baca lebih lanjut...</a></p>
                    <br>
                    </div>
                </div>
                </div>
    
                <div class="col-lg-4 col-md-6 portfolio-item filter-web wow fadeInUp" data-wow-delay="0.1s">
                <div class="portfolio-wrap">
                    <figure>
                    <img src="{% static 'assets/img/fiber-foodie/fiber-foodie-2.jpg' %}" class="img-fluid" alt="">
                    <a href="{% static 'assets/img/fiber-foodie/fiber-foodie-2.jpg' %}" class="link-preview venobox" data-gall="portfolioGallery" title="Preview"><i class="bx bx-plus"></i></a>
                    <a href="{% url 'fiber-foodie-article-2' %}" class="link-details" title="More Details"><i class="bx bx-link"></i></a>
                    </figure>
    
                    <div class="portfolio-info">
                    <h4>Jaga Imun di Tengah Pandemi</h4>
                    <h4>dengan Makanan Sehat</h4>
                    <p><a href="{% url 'fiber-foodie-article-2' %}">Baca lebih lanjut...</a></p>
                    </div>
                </div>
                </div>
    
                <div class="col-lg-4 col-md-6 portfolio-item filter-app wow fadeInUp" data-wow-delay="0.2s">
                <div class="portfolio-wrap">
                    <figure>
                    <img src="{% static 'assets/img/fiber-foodie/fiber-foodie-3.jpg' %}" class="img-fluid" alt="">
                    <a href="{% static 'assets/img/fiber-foodie/fiber-foodie-3.jpg' %}" class="link-preview venobox" data-gall="portfolioGallery" title="Preview"><i class="bx bx-plus"></i></a>
                    <a href="{% url 'fiber-foodie-article-3' %}" class="link-details" title="More Details"><i class="bx bx-link"></i></a>
                    </figure>
    
                    <div class="portfolio-info">
                    <h4>Jaga Kesehatan Usus dengan</h4>
                    <h4>Konsumsi Alpukat</h4>
                    <p><a href="{% url 'fiber-foodie-article-3' %}">Baca lebih lanjut...</a></p>
                    </div>
                </div>
                </div>
    
                <div class="col-lg-4 col-md-6 portfolio-item filter-card wow fadeInUp">
                <div class="portfolio-wrap">
                    <figure>
                    <img src="{% static 'assets/img/fiber-foodie/fiber-foodie-4-1.jpg' %}" class="img-fluid" alt="">
                    <a href="{% static 'assets/img/fiber-foodie/fiber-foodie-4-1.jpg' %}" class="link-preview venobox" data-gall="portfolioGallery" title="Preview"><i class="bx bx-plus"></i></a>
                    <a href="{% url 'fiber-foodie-article-4' %}" class="link-details" title="More Details"><i class="bx bx-link"></i></a>
                    </figure>
    
                    <div class="portfolio-info">
                    <h4>Makanan Sehat Kaya Magnesium</h4>
                    <h4>Jaga Metabolisme Tubuh</h4>
                    <p><a href="{% url 'fiber-foodie-article-4' %}">Baca lebih lanjut...</a></p>
                    </div>
                </div>
                </div>
    
                <div class="col-lg-4 col-md-6 portfolio-item filter-web wow fadeInUp" data-wow-delay="0.1s">
                <div class="portfolio-wrap">
                    <figure>
                    <img src="{% static 'assets/img/fiber-foodie/fiber-foodie-5.jpg' %}" class="img-fluid" alt="">
                    <a href="{% static 'assets/img/fiber-foodie/fiber-foodie-5.jpg' %}" class="link-preview venobox" data-gall="portfolioGallery" title="Preview"><i class="bx bx-plus"></i></a>
                    <a href="{% url 'portfolio-details' %}" class="link-details" title="More Details"><i class="bx bx-link"></i></a>
                    </figure>
    
                    <div class="portfolio-info">
                    <h4>Makanan yang Cocok Untuk</h4>
                    <h4>Kesehatan Jantungmu!</h4>
                    <p><a href="{% url 'fiber-foodie-article-5' %}">Baca lebih lanjut...</a></p>
                    <p>Web</p>
                    </div>
                </div>
                </div>
    
                <div class="col-lg-4 col-md-6 portfolio-item filter-app wow fadeInUp" data-wow-delay="0.2s">
                <div class="portfolio-wrap">
                    <figure>
                    <img src="{% static 'assets/img/fiber-foodie/fiber-foodie-6.jpg' %}" class="img-fluid" alt="">
                    <a href="{% static 'assets/img/fiber-foodie/fiber-foodie-6.jpg' %}" class="link-preview venobox" data-gall="portfolioGallery" title="Preview"><i class="bx bx-plus"></i></a>
                    <a href="{% url 'fiber-foodie-article-6' %}" class="link-details" title="More Details"><i class="bx bx-link"></i></a>
                    </figure>
    
                    <div class="portfolio-info">
                    <h4>Mulai Hidup Sehat di </h4>
                    <h4>Tahun yang Baru</h4>
                    <p><a href="{% url 'fiber-foodie-article-6' %}">Baca lebih lanjut...</a></p>
                    <p>App</p>
                    </div>
                </div>
                </div>
    
                <div class="col-lg-4 col-md-6 portfolio-item filter-card wow fadeInUp">
                <div class="portfolio-wrap">
                    <figure>
                    <img src="{% static 'assets/img/fiber-foodie/fiber-foodie-7.jpg' %}" class="img-fluid" alt="">
                    <a href="{% static 'assets/img/fiber-foodie/fiber-foodie-7.jpg' %}" class="link-preview venobox" data-gall="portfolioGallery" title="Preview"><i class="bx bx-plus"></i></a>
                    <a href="{% url 'fiber-foodie-article-7' %}" class="link-details" title="More Details"><i class="bx bx-link"></i></a>
                    </figure>
    
                    <div class="portfolio-info">
                    <h4>Pola Hidup Sehat Cegah</h4>
                    <h4>Kambuhnya Asam Urat!</h4>
                    <p><a href="{% url 'fiber-foodie-article-7' %}">Baca lebih lanjut...</a></p>
                    </div>
                </div>
                </div>
    
                <div class="col-lg-4 col-md-6 portfolio-item filter-card wow fadeInUp">
                  <div class="portfolio-wrap">
                      <figure>
                      <img src="{% static 'assets/img/fiber-foodie/fiber-foodie-8.jpg' %}" class="img-fluid" alt="">
                      <a href="{% static 'assets/img/fiber-foodie/fiber-foodie-8.jpg' %}" class="link-preview venobox" data-gall="portfolioGallery" title="Preview"><i class="bx bx-plus"></i></a>
                      <a href="{% url 'fiber-foodie-article-8' %}" class="link-details" title="More Details"><i class="bx bx-link"></i></a>
                      </figure>
      
                      <div class="portfolio-info">
                      <h4>Prediksi Trend Makanan</h4>
                      <h4>Sehat di Tahun 2021</h4>
                      <p><a href="{% url 'fiber-foodie-article-8' %}">Baca lebih lanjut...</a></p>
                      </div>
                </div>
                </div>
    
                <div class="col-lg-4 col-md-6 portfolio-item filter-card wow fadeInUp">
                  <div class="portfolio-wrap">
                      <figure>
                      <img src="{% static 'assets/img/fiber-foodie/fiber-foodie-9.jpg' %}" class="img-fluid" alt="">
                      <a href="{% static 'assets/img/fiber-foodie/fiber-foodie-9.jpg' %}" class="link-preview venobox" data-gall="portfolioGallery" title="Preview"><i class="bx bx-plus"></i></a>
                      <a href="{% url 'fiber-foodie-article-9' %}" class="link-details" title="More Details"><i class="bx bx-link"></i></a>
                      </figure>
      
                      <div class="portfolio-info">
                      <h4>Tingkatkan Massa Otot dengan </h4>
                      <h4>Makanan Sehat</h4>
                      <p><a href="{% url 'fiber-foodie-article-9' %}">Baca lebih lanjut...</a></p>
                      </div>
                </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-card wow fadeInUp">
                  <div class="portfolio-wrap">
                      <figure>
                      <img src="{% static 'assets/img/fiber-foodie/fiber-foodie-10.jpg' %}" class="img-fluid" alt="">
                      <a href="{% static 'assets/img/fiber-foodie/fiber-foodie-10.jpg' %}" class="link-preview venobox" data-gall="portfolioGallery" title="Preview"><i class="bx bx-plus"></i></a>
                      <a href="{% url 'fiber-foodie-article-10' %}" class="link-details" title="More Details"><i class="bx bx-link"></i></a>
                      </figure>
      
                      <div class="portfolio-info">
                      <h4>Trend Pola Makan Sehat</h4>
                      <h4>di Tahun 2021</h4>
                      <p><a href="{% url 'fiber-foodie-article-10' %}">Baca lebih lanjut...</a></p>
                      </div>
                </div>
                </div>
    
            </div>
    
            </div>
        </section>
        <!-- End Portfolio Section -->
    </main>

    <!-- Footer -->
    <footer id="footer">
        <div class="container d-md-flex py-4">

            <div class="mr-md-auto text-center text-md-left">
              <div class="copyright">
                &copy; Copyright <strong><span>Lumia</span></strong>. All Rights Reserved
              </div>
              <div class="credits">
                <!-- All the links in the footer should remain intact. -->
                <!-- You can delete the links only if you purchased the pro version. -->
                <!-- Licensing information: https://bootstrapmade.com/license/ -->
                <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/lumia-bootstrap-business-template/ -->
                Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
              </div>
            </div>
        </div>
    </footer>
    <!-- EndFooter -->

    <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'assets/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/jquery.easing/jquery.easing.min.js' %}"></script>
  <script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>
  <script src="{% static 'assets/vendor/waypoints/jquery.waypoints.min.js' %}"></script>
  <script src="{% static 'assets/vendor/counterup/counterup.min.js' %}"></script>
  <script src="{% static 'assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'assets/vendor/venobox/venobox.min.js' %}"></script>
  <script src="{% static 'assets/vendor/owl.carousel/owl.carousel.min.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'assets/js/main.js' %}"></script>

</body>

</html>