{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Pola Hidup Sehat Cegah Kambuhnya Asam Urat! | Foodie</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'assets/img/favicon.png' %}" rel="icon">
  <link href="{% static 'assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/icofont/icofont.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/venobox/venobox.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/owl.carousel/assets/owl.carousel.min.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Lumia - v2.2.0
  * Template URL: https://bootstrapmade.com/lumia-bootstrap-business-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
  <style type="text/css">
    ol {margin-left: 0;}
    li { list-style-position: inside; }
    .container-portfolio {
      margin: auto;
      width: 50%;
    }
    @media only screen and (max-width:800px) {
    /* For tablets: */
    .container-portfolio {
      margin: auto;
      width: 80%;
      padding: 0;
    }
  }
  @media only screen and (max-width:500px) {
    /* For mobile phones: */
    .container-portfolio{
      margin: auto;
      width: 80%;
    }
  }
  </style>
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center">
      <div class="container d-flex align-items-center" style="width: 100%; box-sizing: content-box;">

      <div class="logo">
          <!-- <h1><a href="{% url 'index' %}">Foodie</a></h1> -->
          <!-- Uncomment below if you prefer to use an image logo -->
          <a href="{% url 'index' %}"><img src="{% static 'assets/img/logo.jpg' %}" style="width: 25%;" alt="logo"></a>
        </div>

      <nav class="nav-menu d-none d-xl-block" style="width: 100%;">
          <ul>
            <li><a href="{% url 'index' %}">Home</a></li>
            <li><a href="{% url 'kuliner-terkini' %}">Kuliner Terkini</a></li>
            <li><a href="{% url 'pojok-resep' %}">Pojok Resep</a></li>
            <li><a href="{% url 'fiber-foodie' %}">Fiber Foodie</a></li>
            <li><a href="{% url 'rekomendasi-tempat' %}">Rekomendasi Tempat</a></li>
            <li><a href="{% url 'tips-dan-trik' %}">Tips & Trik</a></li>
            <li><a href="{% url 'profil' %}">Profil</a></li>

        </ul>
      </nav><!-- .nav-menu -->

    </div>
  </header><!-- End Header -->

  <main id="main">

    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
      <div class="container-portfolio">

        <div class="portfolio-details-container">
          <br><br><br><br><br><br>
          <h1 style="text-align: center;">Pola Hidup Sehat Cegah Kambuhnya Asam Urat!</h1>
          <br><br>

          <div class="owl-carousel portfolio-details-carousel">
            <img src="{% static 'assets/img/fiber-foodie/fiber-foodie-7.jpg' %}" class="img-fluid" alt="">
          </div>
          <p style="text-align: center;">Sumber foto : Google</p>
          <h6>Reporter : Andyta Novianty</h6>

        </div>

        <div class="portfolio-description" style="overflow-wrap: break-word">
          <p style="text-align: justify;">
            <b>Depok, Foodie.id —</b> Asam urat merupakan penyakit dengan kondisi yang bisa menyebabkan gejala nyeri yang tak tertahankan, pembengkakan, serta adanya rasa panas di area persendian, dilansir oleh halodoc.com. Namun, menjaga pola makan bisa mencegah serangan penyakit ini.
          </p>

          <p style="text-align: justify;">
            Prinsip diet rendah purin, menjadi salah satu cara mencegah kambuhnya asam urat. Asam urat diproduksi saat tubuh memecah bahan kimia yang disebut purin. Dilansir dari <i>Healthline</i>, purin adalah zat yang diproduksi secara alami oleh tubuh. Zat ini juga terdapat di beberapa makanan.
          </p>

          <p style="text-align: justify;">
            Jumlah purin yang berlebihan bisa terurai menjadi asam urat dan membentuk kristal yang menumpuk di persendian. Hal itu bisa menyebabkan rasa sakit dan pembengkakan. Nyeri sendi akibat asam urat disebut gout. Sepertiga asam urat yang diproduksi tubuh berasal dari pemecahan purin yang berasal dari makanan atau minuman yang dikonsumsi penderita. Jika terlalu banyak mengonsumsi asupan tinggi asam urat, tubuh bisa mengalami serangan gout sampai membentuk batu ginjal.
          </p>

          <p style="text-align: justify;">
            Menurut <i>Mayo Clinic</i>, diet rendah purin pada dasarnya tidak berbeda jauh dengan diet sehat. Prinsip diet rendah purin bisa dilakukan dengan <b>mencapai berat badan ideal dan menjaga pola makan sehat, menghindari jumlah makanan yang mengandung purin, dan mengonsumsi makanan yang bisa mengontrol asam urat</b>.
          </p>

          <p style="text-align: justify;">
            Selain melakukan hal di atas, dianjurkan juga untuk menghindari makanan dan minuman pantangan diet purin. Makanan dan minuman tersebut di antaranya, <b>minuman beralkohol (seperti bir, vodka, wiski), daging sapi, kambing, babi, daging bebek jerohan (seperti hati, ginjal, pankreas, jantung), makanan laut (terutama kerang, lobster, udang, remis, teri, tuna, dan sarden), asupan tinggi gula (seperti soda, jus, sereal, es krim, permen, jus buah dengan tambahan gula, minuman dalam kemasan), makanan cepat saji, dan gorengan</b>.
          </p>

          <p style="text-align: justify;">
            <b>Keempat</b>, kurangi ketergantungan pada Pesan-Antar makanan. Menurut studi <i>Public Health Nutrition</i> pada 2015, memasak makanan sendiri berkaitan dengan pola makan yang lebih sehat secara keseluruhan. Studi lain dalam jurnal yang sama di 2014 juga mengungkapkan bahwa orang-orang yang terbiasa membeli makanan di luar cenderung mengonsumsi 200 kalori lebih banyak.
          </p>

          <p style="text-align: justify;">
            Jangan khawatir, selain pantangan di atas ada juga rekomendasi makanan dan minuman untuk diet rendah purin. Makanan dan minuman berikut ini disarankan untuk dikonsumsi, yaitu ada <b>karbohidrat (roti gandum utuh, beras merah), susu rendah lemak dan yogurt, buah dan sayuran kacang-kacangan dan biji-bijian, telur tidak berlebihan, ayam, daging sapi tanpa lemak, ayam dengan porsi empat sampai enam ons per hari, makanan kaya vitamin C (seperti jeruk, nanas, stroberi, paprika, tomat, dan alpukat), minum cairan terutama air putih 8-16 cangkir per hari, minum kopi atau asupan berkafein tak lebih dari tiga cangkir per hari</b>. 
          </p>

          <br><br>

      </div>
    </section><!-- End Portfolio Details Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="container d-md-flex py-4">

      <div class="mr-md-auto text-center text-md-left">
        <div class="copyright">
          &copy; Copyright <strong><span>Lumia</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
          <!-- All the links in the footer should remain intact. -->
          <!-- You can delete the links only if you purchased the pro version. -->
          <!-- Licensing information: https://bootstrapmade.com/license/ -->
          <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/lumia-bootstrap-business-template/ -->
          Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
        </div>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'assets/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/jquery.easing/jquery.easing.min.js' %}"></script>
  <script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>
  <script src="{% static 'assets/vendor/waypoints/jquery.waypoints.min.js' %}"></script>
  <script src="{% static 'assets/vendor/counterup/counterup.min.js' %}"></script>
  <script src="{% static 'assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'assets/vendor/venobox/venobox.min.js' %}"></script>
  <script src="{% static 'assets/vendor/owl.carousel/owl.carousel.min.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'assets/js/main.js' %}"></script>

</body>

</html>