{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Prediksi Trend Makanan Sehat di Tahun 2021 | Foodie</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'assets/img/favicon.png' %}" rel="icon">
  <link href="{% static 'assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/icofont/icofont.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/venobox/venobox.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/owl.carousel/assets/owl.carousel.min.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Lumia - v2.2.0
  * Template URL: https://bootstrapmade.com/lumia-bootstrap-business-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
  <style type="text/css">
    ol {margin-left: 0;}
    li { list-style-position: inside; }
    .container-portfolio {
      margin: auto;
      width: 50%;
    }
    @media only screen and (max-width:800px) {
    /* For tablets: */
    .container-portfolio {
      margin: auto;
      width: 80%;
      padding: 0;
    }
  }
  @media only screen and (max-width:500px) {
    /* For mobile phones: */
    .container-portfolio{
      margin: auto;
      width: 80%;
    }
  }
  </style>
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center">
      <div class="container d-flex align-items-center" style="width: 100%; box-sizing: content-box;">

      <div class="logo">
          <!-- <h1><a href="{% url 'index' %}">Foodie</a></h1> -->
          <!-- Uncomment below if you prefer to use an image logo -->
          <a href="{% url 'index' %}"><img src="{% static 'assets/img/logo.jpg' %}" style="width: 25%;" alt="logo"></a>
        </div>

      <nav class="nav-menu d-none d-xl-block" style="width: 100%;">
          <ul>
            <li><a href="{% url 'index' %}">Home</a></li>
            <li><a href="{% url 'kuliner-terkini' %}">Kuliner Terkini</a></li>
            <li><a href="{% url 'pojok-resep' %}">Pojok Resep</a></li>
            <li><a href="{% url 'fiber-foodie' %}">Fiber Foodie</a></li>
            <li><a href="{% url 'rekomendasi-tempat' %}">Rekomendasi Tempat</a></li>
            <li><a href="{% url 'tips-dan-trik' %}">Tips & Trik</a></li>
            <li><a href="{% url 'profil' %}">Profil</a></li>

        </ul>
      </nav><!-- .nav-menu -->

    </div>
  </header><!-- End Header -->

  <main id="main">

    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
      <div class="container-portfolio">

        <div class="portfolio-details-container">
          <br><br><br><br><br><br>
          <h1 style="text-align: center;">Prediksi Trend Makanan Sehat di Tahun 2021</h1>
          <br><br>

          <div class="owl-carousel portfolio-details-carousel">
            <img src="{% static 'assets/img/fiber-foodie/fiber-foodie-8.jpg' %}" class="img-fluid" alt="">
          </div>
          <p style="text-align: center;">Sumber foto : Google</p>
          <h6>Reporter : Andyta Novianty</h6>

        </div>

        <div class="portfolio-description" style="overflow-wrap: break-word">
          <p style="text-align:justify;">
            <b>Depok, Foodie.id —</b> Trend makanan sudah menjadi hal yang paling diminati oleh masyarakat mulai dari makanan ringan hingga makanan sehat. Tahun 2020 akan berakhir hanya dengan menghitung hari. Trend – trend makanan sehat untuk tahun 2021 juga sudah dapat diprediksi.
          </p>
          <p style="text-align:justify;"><i>Postbiotik</i>, hal terbaru dalam masalah kesehatan usus selain prebiotik dan probiotik. <i>Postbiotik</i> dapat ditemukan di beberapa makanan yang sama tang mengandung probiotik. Pada 2021, diprediksi kita akan melihat formulir suplemen <i>postbiotik</i> dan juga kemungkinan melihatnya ditambahkan dalam produk makanan.
          </p>
          <p style="text-align:justify;">Selain itu, ada makanan dari bantuan teknologi kecerdasan buatan. Kecerdasan buatan membantu perusahaan makanan menciptakan hal – hal yang hanya bisa diimpikan beberapa tahun lalu. Perusahaan teknologi makanan <i>Perfect Day</i> telah menciptakan protein yang dikatakan identik dengan protein susu, namun sepenuhnya vegan.
          </p>
          <p style="text-align:justify;"><i>Microgreens</i> sejenis tunas kecil ini adalah bagian bayi dari tanaman seperti wortel dan brokoli. Jenis makanan ini dapat ditemukan di toko bahan makanan dalam berbagai variasi, termasuk lobak rambo merah dan kubis liar. Tidak hanya berwarna dan imut, tetapi <i>microgreens</i> memiliki nutrisi empat hingga 40 kali lebih banyak dibandingkan rekan mereka yang matang.
          </p>
          <p style="text-align:justify;">Selanjutnya, ada <i>Kelp</i> sejenis rumput laut besar berwarna coklat yang tumbuh di air asin dangkal dan kaya nutrisi di dekat bagian depan pantai di seluruh dunia. <i>Kelp</i> sedikit berbeda dalam hal warna, rasa, dan nutrisi dibandingkan dengan rumput laut.
          </p>
          <p style="text-align:justify;">Yang terakhir, ada makanan yang ramah terhadap perubahan iklim. Produksi makanan merupakan penyumbang signifikan terhadap perubahan iklim, terhitung seperempat emisi gas rumah kaca global. Tahun ini, Panera bermitra dengan <i>Cool Food</i> membantu pelanggan mengidentifikasi item menu dengan jejak karbon lebih rendah.  "Kami berkomitmen memberdayakan tamu untuk makan dengan cara yang selaras dengan nilai-nilai pribadi mereka, dan ini termasuk terus menyediakan pilihan makanan dengan jejak karbon yang lebih rendah," kata Sara Burnett, VP of Food Values, Sustainability and Public Affairs di Panera.
          </p>

          <br><br>
          <p>Sumber</p>
          <p><a href="https://republika.co.id/berita/qlfn8x425/jenis-makanan-sehat-ini-diprediksi-menjadi-tren-pada-2021">https://republika.co.id/berita/qlfn8x425/jenis-makanan-sehat-ini-diprediksi-menjadi-tren-pada-2021</a></p>

      </div>
    </section><!-- End Portfolio Details Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="container d-md-flex py-4">

      <div class="mr-md-auto text-center text-md-left">
        <div class="copyright">
          &copy; Copyright <strong><span>Lumia</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
          <!-- All the links in the footer should remain intact. -->
          <!-- You can delete the links only if you purchased the pro version. -->
          <!-- Licensing information: https://bootstrapmade.com/license/ -->
          <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/lumia-bootstrap-business-template/ -->
          Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
        </div>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'assets/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/jquery.easing/jquery.easing.min.js' %}"></script>
  <script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>
  <script src="{% static 'assets/vendor/waypoints/jquery.waypoints.min.js' %}"></script>
  <script src="{% static 'assets/vendor/counterup/counterup.min.js' %}"></script>
  <script src="{% static 'assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'assets/vendor/venobox/venobox.min.js' %}"></script>
  <script src="{% static 'assets/vendor/owl.carousel/owl.carousel.min.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'assets/js/main.js' %}"></script>

</body>

</html>