{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Foodie</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'assets/img/favicon.png' %}" rel="icon">
  <link href="{% static 'assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/icofont/icofont.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/venobox/venobox.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/owl.carousel/assets/owl.carousel.min.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Lumia - v2.2.0
  * Template URL: https://bootstrapmade.com/lumia-bootstrap-business-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
  <style>
    .img-fluid{
      width:100px;
      height:auto;
    }
  </style>
</head>
<body>

    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top d-flex align-items-center">
      <div class="container d-flex align-items-center" style="width: 100%; box-sizing: content-box;">
  
        <div class="logo">
          <!-- <h1><a href="{% url 'index' %}">Foodie</a></h1> -->
          <!-- Uncomment below if you prefer to use an image logo -->
          <a href="{% url 'index' %}"><img src="{% static 'assets/img/logo.jpg' %}" style="width: 25%;" alt="logo"></a>
        </div>
        
        <nav class="nav-menu d-none d-xl-block" style="width: 100%;">
          <ul>
            <li class="active"><a href="{% url 'index' %}">Home</a></li>
            <li><a href="{% url 'kuliner-terkini' %}">Kuliner Terkini</a></li>
            <li><a href="{% url 'pojok-resep' %}">Pojok Resep</a></li>
            <li><a href="{% url 'fiber-foodie' %}">Fiber Foodie</a></li>
            <li><a href="{% url 'rekomendasi-tempat' %}">Rekomendasi Tempat</a></li>
            <li><a href="{% url 'tips-dan-trik' %}">Tips & Trik</a></li>
            <li><a href="{% url 'profil' %}">Profil</a></li>
  
          </ul>
        </nav><!-- .nav-menu -->

      </div>
    </header><!-- End Header -->

    <!-- ======= Hero Section ======= -->
    <section id="hero" class="d-flex flex-column justify-content-center align-items-center">
        <div class="container text-center text-md-left" data-aos="fade-up">
        <h1><span>LemmeGetSpace</span> Kafe Konsep</h1>
        <h1>Industrial Garden yang Multifungsi</h1>
        <h6 style="color: white;">Foodie.id</h6>
        <h6 style="color: white;">19 Januari 2021</h6>
        </div>
    </section>
    <!-- End Hero -->

    <!-- Main section -->
    <main id="main">
        <section id="what-we-do" class="what-we-do">
            <div class="container">
                <div class="section-title">
                    <p style="text-align: left;">Reporter : Syifa Amalia </p>
                    <br>
                    <p style="text-align: justify;"><b>Jakarta, Foodie.id —</b>  Ada berbagai destinasi kafe di Jakarta yang bisa memanjakan dirimu dan membawamu sejenak keluar dari kesibukan yang mengekang. Salah satu pilihan untuk bersantai dan berkumpul dengan keluarga, teman atau pacar ya jelas di kafe. Namun, LemmeGetSpace hadir di pinggiran kota Jakarta dengan konsep yang unik dan multifungsi.</p>
                    <br>
                    
                    <div class="embed-responsive embed-responsive-16by9">
                      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/fii6Ej7qtIg" allowfullscreen></iframe>
                    </div>
                    <br>

                    <p style="text-align: justify;">LemmeGetSpace yang berlokasi di Jalan M Kahfi 1 No.60, Ciganjur, Jakarta Selatan ini berdiri sejak Oktober 2020 dan memiliki konsep <i>industrial garden</i> yang modern serta minimalis. LemmeGetSpace dikomandoi oleh tiga sekawan yaitu Azam, Jodi dan Feby. Terbentuknya LemmeGetSpace bermula dari tutupnya usaha Kopi Lembar Feby yang berada di Duren Tiga, Jakarta Selatan. LemmeGetSpace berdiri atas kerjasama management Nasi Kulit Ayam Babeh dengan Kopi Lembar, untuk menciptakan kedai kopi yang dibarengi dengan <i>co-working.</i></p>
                    <br>

                    <div class="owl-carousel portfolio-details-carousel">
                      <img src="{% static 'assets/img/headline-news/headline-2.jpg' %}" class="img-fluid" style="max-width: 1000px; height: auto; margin:auto" alt="">
                    </div>
                    <p style="text-align: center;">Sudut LemmeGetSpace, Sumber foto : Instagram @lemmegetspace</p>
                    <br>

                    <p style="text-align: justify;">Tiga sekawan ini memulai usahanya dengan modal pribadi yang disubsidi silang dari profit management Nasi Kulit Ayam Babeh, management ini juga di develop oleh Azam, Jodi dan Feby. Selain kedai kopi yang  berkonsep <i>industrial garden</i> dengan <i>co-working</i>, LemmeGetSpace juga menyewakan tempat untuk <i>birthday party</i>, <i>meeting room</i> dan acara lainnya. Jam kerja LemmeGetSpace sebenarnya diproyeksikan untuk <i>co-working</i> kafe dan di malam hari menjadi kafe nongkrong untuk anak muda.<p>
                    <br>
                    <p style="text-align: justify;">Target pasar kafe ini antara lain adalah para pekerja yang ingin berkerja di luar kantor dan anak muda yang suka nongkrong dan pastinya suka dengan kopi. Namun sejauh ini anak muda jauh lebih mendominasi dibanding pekerja.</p>
                    <br>

                    <div class="owl-carousel portfolio-details-carousel">
                      <img src="{% static 'assets/img/headline-news/headline-3.jpg' %}" class="img-fluid" style="max-width: 1000px; height: auto; margin:auto" alt="">
                    </div>
                    <p style="text-align: center;">Sumber foto : Instagram @lemmegetspace</p>
                    <br>


                    <p style="text-align: justify;">Selama berjalannya LemmeGetSpace tak mungkin berjalan mulus, kendala demi kendala dilalui oleh tiga sekawan ini, bagi Feby salah satu kendala yaitu menciptakan sistem auto pilot itu tidak mudah.</p>
                    <br>
                    <p style="text-align: justify;">“Di dalam dunia usaha untuk awal pastinya pilot project, dimana kita harus terjun ke lapangan dulu untuk mengetahui kendala-kendala nanti yang dihadapi ketika di lapangan.” ungkap Feby saat dihubungi Foodie.id.</p> 
                    <br>
                    <p style="text-align: justify;">Feby berharap kedepannya LemmeGetSpace menjalankan auto pilot agar para sumber daya manusia bisa berkerja mengikuti sistem yang sudah dibuat tanpa perlu terjun ke dalamnya dan bisa mengontrol dan mengevaluasi dari jauh.</p>
                    <br>
                    
                    <div class="owl-carousel portfolio-details-carousel">
                      <img src="{% static 'assets/img/headline-news/headline-4.jpg' %}" class="img-fluid" style="max-width: 600px; height: auto; margin:auto" alt="">
                    </div>
                    <br>
                    <div class="owl-carousel portfolio-details-carousel">
                      <img src="{% static 'assets/img/headline-news/headline-5.jpg' %}" class="img-fluid" style="max-width: 600px; height: auto; margin:auto" alt="">
                    </div>
                    <p style="text-align: center;">Sumber foto : Instagram @lemmegetspace</p>
                    <br>
                    
                    <p style="text-align: justify;">LemmeGetSpace menawarkan berbagai menu antara lain, menu utamanya yaitu Nasi Kulit Ayam Babeh, nasi goreng, dan olahan mie. Tak lupa minuman seperti, kopi kekinian (kopi susu), milkshake, dan minuman non coffee lainnya. Menu terlaris di LemmeGetSpace adalah Nasi Kulit Ayam Babeh dan Kopi kekinian. Harga yang ditawarkan cukup ramah dikantong mulai dari Rp.13.000 sampai Rp. 30.000,-.</p>
                    <br>
                    <p style="text-align: justify;">Setiap harinya LemmeGetSpace juga memanjakan pengunjungnya dengan tampilan <i>live music</i>, namun dikala PSBB berlangsung dan anjuran pemerintah untuk sementara <i>live music</i> ditiadakan untuk menghindari kerumunan. Pada waktu normal LemmeGetSpace buka mulai 08.00 WIB  s/d 00.00 WIB tetapi saat PSBB berlangsung buka mulai 09.00 WIB s/d 19.00 WIB saja.</p>
                </div>
                <br>
            </div>
        </section>
    </main>
    <!-- End Main section-->

    <!-- Footer -->
    <footer id="footer">
        <div class="container d-md-flex py-4">

            <div class="mr-md-auto text-center text-md-left">
              <div class="copyright">
                &copy; Copyright <strong><span>Lumia</span></strong>. All Rights Reserved
              </div>
              <div class="credits">
                <!-- All the links in the footer should remain intact. -->
                <!-- You can delete the links only if you purchased the pro version. -->
                <!-- Licensing information: https://bootstrapmade.com/license/ -->
                <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/lumia-bootstrap-business-template/ -->
                Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
              </div>
            </div>
        </div>
    </footer>
    <!-- EndFooter -->

    <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'assets/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/jquery.easing/jquery.easing.min.js' %}"></script>
  <script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>
  <script src="{% static 'assets/vendor/waypoints/jquery.waypoints.min.js' %}"></script>
  <script src="{% static 'assets/vendor/counterup/counterup.min.js' %}"></script>
  <script src="{% static 'assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'assets/vendor/venobox/venobox.min.js' %}"></script>
  <script src="{% static 'assets/vendor/owl.carousel/owl.carousel.min.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'assets/js/main.js' %}"></script>

</body>

</html>