{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Kedai Burger Tren Bisnis Kuliner 2020 | Foodie</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'assets/img/favicon.png' %}" rel="icon">
  <link href="{% static 'assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/icofont/icofont.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/venobox/venobox.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/owl.carousel/assets/owl.carousel.min.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Lumia - v2.2.0
  * Template URL: https://bootstrapmade.com/lumia-bootstrap-business-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
  <style type="text/css">
    ol {margin-left: 0;}
    li { list-style-position: inside; }
    .container-portfolio {
      margin: auto;
      width: 50%;
    }
    @media only screen and (max-width:800px) {
    /* For tablets: */
    .container-portfolio {
      margin: auto;
      width: 80%;
      padding: 0;
    }
  }
  @media only screen and (max-width:500px) {
    /* For mobile phones: */
    .container-portfolio{
      margin: auto;
      width: 80%;
    }
  }
  </style>
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center">
      <div class="container d-flex align-items-center" style="width: 100%; box-sizing: content-box;">

      <div class="logo">
          <!-- <h1><a href="{% url 'index' %}">Foodie</a></h1> -->
          <!-- Uncomment below if you prefer to use an image logo -->
          <a href="{% url 'index' %}"><img src="{% static 'assets/img/logo.jpg' %}" style="width: 25%;" alt="logo"></a>
        </div>

      <nav class="nav-menu d-none d-xl-block" style="width: 100%;">
          <ul>
            <li><a href="{% url 'index' %}">Home</a></li>
            <li><a href="{% url 'kuliner-terkini' %}">Kuliner Terkini</a></li>
            <li><a href="{% url 'pojok-resep' %}">Pojok Resep</a></li>
            <li><a href="{% url 'fiber-foodie' %}">Fiber Foodie</a></li>
            <li><a href="{% url 'rekomendasi-tempat' %}">Rekomendasi Tempat</a></li>
            <li><a href="{% url 'tips-dan-trik' %}">Tips & Trik</a></li>
            <li><a href="{% url 'profil' %}">Profil</a></li>

        </ul>
      </nav><!-- .nav-menu -->

    </div>
  </header><!-- End Header -->

  <main id="main">

    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
      <div class="container-portfolio">

        <div class="portfolio-details-container">
          <br><br><br><br><br><br>
          <h1 style="text-align: center;">Kedai Burger Tren Bisnis Kuliner 2020</h1>
          <br><br>

          <h6>Reporter : Bagas Priambodo</h6>

        </div>

        <div class="portfolio-description" style="overflow-wrap: break-word">
          <p style="text-align: justify;"><b>Bogor, Foodie.id —</b> Tren makanan memang berubah setiap tahunnya. Makanan serba telur asin marak di tahun 2018 setahun berselang boba menjamur di tahun 2019. Awal tahun 2020 ready to eat meal banyak dijual karena kondisi pandemi Covid-19  tapi di penghujung tahun 2020 kedai burger mulai  banyak bermunculan.</p>
          <p style="text-align: justify;">Seorang penulis makanan, Kevin Soemantri mengatakan variabel untuk makanan menjadi tren itu banyak mulai dari kebiasaan orang, ekonomi dan kehidupan sosial di sekelilingnya seperti apa. Bahkan di kota-kota besar adanya influence atau pengaruh budaya asing yang merebak. Akibat adanya pandemi juga akhirnya mendorong sebuah tren itu sendiri muncul. </p>
          <p>Kedai burger di Jakarta mulai banyak yang serius dan berkomitmen menyajikan Burger unik dan inovatif untuk memuaskan para foodie. Kalau kamu lagi cari tempat makan Burger di Jakarta yang paling enak, pastikan kamu harus mengunjungi salah satu tempat di guide berikut ini:</p>
          
          <p><b>1. Odysseaia</b></p>
          <div class="owl-carousel portfolio-details-carousel">
            <img src="{% static 'assets/img/kuliner-terkini/kuliner-terkini-4-1.jpg' %}" class="img-fluid" alt="">
          </div>
          <p style="text-align: center;">Sumber foto : @perut.lapar</p>
          <p style="text-align: justify;">Semua pasti suka <i>Mac n Cheese</i>, tapi sudah pernah kah kamu mencoba <i>Mac n Cheese</i> dalam bentuk <i>Burger</i>? Kalau penasaran, kamu bisa mencobanya di Odysseia yang berlokasi di <i>Pacific Place Mall. Mac n Cheese Burger</i> di sini tidak menggunak setangkup roti bun pada Burgernya, melainkan menggunakan <i>Mac n Cheese</i> yang dibentuk seperti <i>Bun</i>. Lalu di dalamnya, sama seperti <i>Burger</i> pada umumnya, terdapat <i>Beef Patty</i> yang empuk serta <i>creamy cheddar sauce</i> yang rasanya adiktif. Perut kamu akan makin kenyang dengan <i>homemade fried potato</i> sebagai <i>side dish</i> yang porsinya melimpah ruah.
          </p>

          <br>
          <p><b>2. The Goods Dinner</b></p>
          <div class="owl-carousel portfolio-details-carousel">
            <img src="{% static 'assets/img/kuliner-terkini/kuliner-terkini-4-2.jpg' %}" class="img-fluid" alt="">
          </div>
          <p style="text-align: center;">Sumber foto : stanzazone.com</p>
          <p style="text-align: justify;">Dua jempol untuk <i>Burger</i> di The Goods Diner, rasanya juara banget. Salah satu menu <i>Burger</i> yang terfavorit di sini adalah <i>Coffee-Rubbed Burger</i> yang mengisi perutmu dengan <i>beef patty</i> super besar yang dilapisi dan dimasak dengan campuran rahasia antara kopi dan rempah-rempah. Untuk toppingnya, kamu bisa memilih <i>crispy pork</i> atau <i>beef bacon</i> serta <i>cheese</i> dan <i>tangy BBQ sauce</i>. Tidak lupa, <i>French Fries super crispy</i> jadi pelengkap sempurna untuk Burgermu. Spesial saat weekend, The Goods Diner menjelma menjadi tempat nge-brunch paling mantap di Jakarta dengan menu-menu yang spesial. Tapi tenang, menu <i>Burger</i> masih tetap ada, jadi kamu bisa tetap menikmatinya sambil mencoba menu-menu brunch mereka yang nggak kalah enaknya seperti <i>Crab Cake Benedict</i> dan <i>Homemade Scones with Cream and Jam.</i>
          </p>

          <br>
          <p><b>3. Five Monkeys</b></p>
          <div class="owl-carousel portfolio-details-carousel">
            <img src="{% static 'assets/img/kuliner-terkini/kuliner-terkini-4-3.jpg' %}" class="img-fluid" alt="">
          </div>
          <p style="text-align: center;">Sumber foto : @deliciousbali</p>
          <p style="text-align: justify;">Kalau lagi main-main ke Sunter dan ngidam <i>Burger</i> di Jakarta, Five Monkeys dapat menjadi destinasi kuliner yang wajib didatangi. Mereka punya <i>BBQ Bacon Cheeseburger</i> yang terkenal akan kelezatannya. Roti bun yang digunakan sangat lembut, porsinya jumbo, paty nya <i>fresh</i>, dan <i>sauce BBQ</i> di <i>Burger</i> ini nggak ada lawannya.
          </p>

          <br>
          <p><b>4. TGI Fridays</b></p>
          <div class="owl-carousel portfolio-details-carousel">
            <img src="{% static 'assets/img/kuliner-terkini/kuliner-terkini-4-4.jpg' %}" class="img-fluid" alt="">
          </div>
          <p style="text-align: center;">Sumber foto : @yourlippomallpuri</p>
          <p style="text-align: justify;">Buat para pecinta Burger di Jakarta, kamu wajib mampir ke TGI Fridays yang outletnya berada di Central Park, Kemang Village, Street Gallery PIM, Gandaria City, dan Lippo Mall Puri. Kamu akan dimanjakan dengan TGIF Cheeseburger yang sangat mantap dan mengenyangkan. Keju dalam <i>Burger</i> ini sangat terasa, bunnya tidak garing atau keras, dagingnya super <i>juicy</i>, bahkan <i>side dish</i>nya yang berupa<i>French Fries</i> pun tidak mengecewakan lidah.
          </p>

          <br>
          <p><b>5. Lawless Burgerbar</b></p>
          <div class="owl-carousel portfolio-details-carousel">
            <img src="{% static 'assets/img/kuliner-terkini/kuliner-terkini-4-5.jpg' %}" class="img-fluid" alt="">
          </div>
          <p style="text-align: center;">Sumber foto : @jktfoodlova</p>
          <p style="text-align: justify;">Melihat penampilan Burger di Jakarta buatan Lawless Burgerbar pasti akan membuat kamu terkesima. Porsinya besar, <i>beef patty</i>nya tebal, dan kejunya yang meleleh akan membuat kamu tergiur. Nggak cuma penampilannya saja yang juara, rasanya juga bikin terngiang-ngiang saking enaknya. Tak heran kalau restoran ini selalu ramai setiap hari. Kalau kamu mau mencoba<i>Burger</i> yang super besar, pesanlah The Lemmy yang isinya berupa <i>double juicy patty</i> dengan <i>beef bacon, brisket, dan sunny side up.</i>
          </p>


        </div>
    </section><!-- End Portfolio Details Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="container d-md-flex py-4">

      <div class="mr-md-auto text-center text-md-left">
        <div class="copyright">
          &copy; Copyright <strong><span>Lumia</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
          <!-- All the links in the footer should remain intact. -->
          <!-- You can delete the links only if you purchased the pro version. -->
          <!-- Licensing information: https://bootstrapmade.com/license/ -->
          <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/lumia-bootstrap-business-template/ -->
          Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
        </div>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'assets/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/jquery.easing/jquery.easing.min.js' %}"></script>
  <script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>
  <script src="{% static 'assets/vendor/waypoints/jquery.waypoints.min.js' %}"></script>
  <script src="{% static 'assets/vendor/counterup/counterup.min.js' %}"></script>
  <script src="{% static 'assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'assets/vendor/venobox/venobox.min.js' %}"></script>
  <script src="{% static 'assets/vendor/owl.carousel/owl.carousel.min.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'assets/js/main.js' %}"></script>

</body>

</html>