{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Kuliner Tradisional Doclang Khas Bogor Yang Melegenda | Foodie</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'assets/img/favicon.png' %}" rel="icon">
  <link href="{% static 'assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/icofont/icofont.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/venobox/venobox.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/owl.carousel/assets/owl.carousel.min.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Lumia - v2.2.0
  * Template URL: https://bootstrapmade.com/lumia-bootstrap-business-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
  <style type="text/css">
    ol {margin-left: 0;}
    li { list-style-position: inside; }
    .container-portfolio {
      margin: auto;
      width: 50%;
    }
    @media only screen and (max-width:800px) {
    /* For tablets: */
    .container-portfolio {
      margin: auto;
      width: 80%;
      padding: 0;
    }
  }
  @media only screen and (max-width:500px) {
    /* For mobile phones: */
    .container-portfolio{
      margin: auto;
      width: 80%;
    }
  }
  </style>
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center">
      <div class="container d-flex align-items-center" style="width: 100%; box-sizing: content-box;">

      <div class="logo mr-auto">
        <!-- <h1><a href="index.html">Lumia</a></h1> -->
        <!-- Uncomment below if you prefer to use an image logo -->
        <a href="{% url 'index' %}"><a href="{% url 'index' %}"><img src="{% static 'assets/img/logo.jpg' %}" style="width: 25%;" alt="logo"></a></a>
      </div>

      <nav class="nav-menu d-none d-xl-block" style="width: 100%;">
          <ul>
            <li><a href="{% url 'index' %}">Home</a></li>
            <li><a href="{% url 'kuliner-terkini' %}">Kuliner Terkini</a></li>
            <li><a href="{% url 'pojok-resep' %}">Pojok Resep</a></li>
            <li><a href="{% url 'fiber-foodie' %}">Fiber Foodie</a></li>
            <li><a href="{% url 'rekomendasi-tempat' %}">Rekomendasi Tempat</a></li>
            <li><a href="{% url 'tips-dan-trik' %}">Tips & Trik</a></li>
            <li><a href="{% url 'profil' %}">Profil</a></li>

        </ul>
      </nav><!-- .nav-menu -->

    </div>
  </header><!-- End Header -->

  <main id="main">

    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
      <div class="container-portfolio">

        <div class="portfolio-details-container">
          <br><br><br><br><br><br>
          <h1 style="text-align: center;">Kuliner Tradisional Doclang Khas Bogor Yang Melegenda</h1>
          <br><br>

          <div class="owl-carousel portfolio-details-carousel">
            <img src="{% static 'assets/img/kuliner-terkini/kuliner-terkini-1.jpg' %}" class="img-fluid" alt="">
          </div>
          <p style="text-align: center;">Sumber foto : Google</p>
          <h6>Reporter : Bagas Priambodo</h6>

        </div>

        <div class="portfolio-description" style="overflow-wrap: break-word">
          <p style="text-align: justify;"><b>Bogor, Foodie.id —</b> Doclang merupakan makanan tradisional khas Bogor, kuliner dengan kombinasi potongan ketupat, kentang, tahu dan potongan telur yang disiram saus bumbu kacang, jenis kuliner seperti ini dapat ditemukan di beberapa daerah dengan ciri khas masing masing daerah. Seperti di Jakarta ada ketoprak, di Malang ada tahu telur, dan di Surabaya ada tahu tek dengan ciri khas menggunakan sambal petisnya.</p>
          <p style="text-align: justify;">Keunikan yang terdapat pada doclang adalah ketupat yang dibuat menggunakan daun patat dan dimasak dalam waktu yang lama, daun patat ini memiliki ukuran yang besar, saat ini mencari daun patat sudah terbilang sulit, ketupat yang dibalut daun patat memiliki tekstur yang lembut dan memiliki ciri khas tersendiri.</p>
          <p style="text-align: justify;">Yang membedakan doclang dari kupat tahu lainnya adalah di ketupat yang dibalut daun patat dan potongan kentang goreng, ditambah bahan pelengkap lainnya. Seperti, tahu kuning goreng, potongan telur rebus, bawang goreng, kecap, dan dilumuri saus bumbu kacang yang kental, dan diberi kerupuk sebagai pelengkap.</p>
          <p style="text-align: justify;">Untuk mencicipi doclang di Bogor, anda bisa mengunjungi Jembatan Merah yang letaknya tidak jauh dari Stasiun Bogor. Harga satu porsi doclang sangat terjangkau, dengan merogoh kocek Rp.12.000, anda dapat mencicipi satu porsi doclang</p>
        </div>
    </section><!-- End Portfolio Details Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="container d-md-flex py-4">

      <div class="mr-md-auto text-center text-md-left">
        <div class="copyright">
          &copy; Copyright <strong><span>Lumia</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
          <!-- All the links in the footer should remain intact. -->
          <!-- You can delete the links only if you purchased the pro version. -->
          <!-- Licensing information: https://bootstrapmade.com/license/ -->
          <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/lumia-bootstrap-business-template/ -->
          Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
        </div>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'assets/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/jquery.easing/jquery.easing.min.js' %}"></script>
  <script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>
  <script src="{% static 'assets/vendor/waypoints/jquery.waypoints.min.js' %}"></script>
  <script src="{% static 'assets/vendor/counterup/counterup.min.js' %}"></script>
  <script src="{% static 'assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'assets/vendor/venobox/venobox.min.js' %}"></script>
  <script src="{% static 'assets/vendor/owl.carousel/owl.carousel.min.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'assets/js/main.js' %}"></script>

</body>

</html>