{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Martabak Teflon Teman Santai #Dirumahaja | Foodie</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'assets/img/favicon.png' %}" rel="icon">
  <link href="{% static 'assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/icofont/icofont.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/venobox/venobox.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/owl.carousel/assets/owl.carousel.min.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Lumia - v2.2.0
  * Template URL: https://bootstrapmade.com/lumia-bootstrap-business-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
  <style type="text/css">
    ol {margin-left: 0;}
    li { list-style-position: inside; }
    .container-portfolio {
      margin: auto;
      width: 50%;
    }
    @media only screen and (max-width:800px) {
    /* For tablets: */
    .container-portfolio {
      margin: auto;
      width: 80%;
      padding: 0;
    }
  }
  @media only screen and (max-width:500px) {
    /* For mobile phones: */
    .container-portfolio{
      margin: auto;
      width: 80%;
    }
  }
  </style>
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center">
      <div class="container d-flex align-items-center" style="width: 100%; box-sizing: content-box;">

      <div class="logo">
          <!-- <h1><a href="{% url 'index' %}">Foodie</a></h1> -->
          <!-- Uncomment below if you prefer to use an image logo -->
          <a href="{% url 'index' %}"><img src="{% static 'assets/img/logo.jpg' %}" style="width: 25%;" alt="logo"></a>
        </div>

      <nav class="nav-menu d-none d-xl-block" style="width: 100%;">
          <ul>
            <li><a href="{% url 'index' %}">Home</a></li>
            <li><a href="{% url 'kuliner-terkini' %}">Kuliner Terkini</a></li>
            <li><a href="{% url 'pojok-resep' %}">Pojok Resep</a></li>
            <li><a href="{% url 'fiber-foodie' %}">Fiber Foodie</a></li>
            <li><a href="{% url 'rekomendasi-tempat' %}">Rekomendasi Tempat</a></li>
            <li><a href="{% url 'tips-dan-trik' %}">Tips & Trik</a></li>
            <li><a href="{% url 'profil' %}">Profil</a></li>

        </ul>
      </nav><!-- .nav-menu -->

    </div>
  </header><!-- End Header -->

  <main id="main">

    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
      <div class="container-portfolio">

        <div class="portfolio-details-container">
          <br><br><br><br><br><br>
          <h1 style="text-align: center;">Martabak Teflon Teman Santai #Dirumahaja</h1>
          <br><br>

          <div class="owl-carousel portfolio-details-carousel">
            <img src="{% static 'assets/img/pojok-resep/pojok-resep-6.jpg' %}" class="img-fluid" alt="">
          </div>
          <p style="text-align: center;">Sumber foto : Pinterest</p>
          <h6>Reporter : Syifa Amalia</h6>

        </div>

        <div class="portfolio-description" style="overflow-wrap: break-word">
          <p style="text-align: justify;"><b>Jakarta, Foodie.id —</b> Siapa yang tak suka dengan martabak manis? Makanan ini termasuk jajanan pinggir jalan paling populer di Indonesia. Dan kini sudah menjelma jadi kuliner kekinian yang tetap laris manis walaupun disajikan di kafe dan kedai cantik.</p>
          <p style="text-align: justify;">Masih ingat kan camilan satu ini menjadi hits belakangan ini? Ya, martabak manis yang biasanya disajikan dengan toping coklat, coklat atau keju kini pun semakin beragam. Bahkan tak sedikit penjual yang menjajakan martabak dengan topping kekinian yang menggugah selera. Ada coklat nutella, green tea, kacang mete, dan masih banyak lainnya yang siap membuat lidah turut bergoyang.</p>
          <p style="text-align: justify;">Sebenarnya martabak manis termasuk kue yang cukup mudah dibuat. Kamu pun bisa membuatnya sendiri di rumah. Tak ada loyang martabak, panci teflon pun jadi. Dan dengan resep yang tepat, martabak ini  bisa bersarang, berwarna kuning cantik, dan selegit buatan kedai kaki lima. Penasaran kan caranya seperti apa? Berikut cara membuat martabak manis pakai teflon yang foodie.id lansir dari berbagai sumber.</p>
          <p>Bahan :</p>
          <ul>
            <li>125 gram tepung terigu protein sedang</li>
            <li>180 ml air matang</li>
            <li>4 sendok makan margarin</li>
            <li>3 sendok makan gula pasir</li>
            <li>2 sendok makan susu bubuk (opsional)</li>
            <li>1 butir telur ayam</li>
            <li>1/4 sendok teh ragi instan (fermipan)</li>
            <li>1/2 sendok teh baking powder</li>
            <li>Susu kental manis secukupnya</li>
          </ul>

          <br>
          <p>Cara memasak :</p>
          <ol>
            <li style="text-align: justify;">Campurkan tepung terigu kering, 2 sendok makan gula pasir, ragi, baking powder, susu bubuk, dan air. Aduk adonan sampai benar-benar tercampur sempurna dan tidak ada yang menggumpal.</li>
            <br>
            <li style="text-align: justify;">Jika menggunakan baking powder double acting (BPDA), diamkan adonan selama 30 menit. Jika menggunakan baking powder single-acting, cukup diamkan 5-10 menit saja</li>
            <br>
            <li style="text-align: justify;">Selagi adonan didiamkan, letakkan 3 sendok makan margarin di panci atau loyang teflon. Cairkan di atas api kompor. Kemudian diamkan sampai sedikit mendingin.</li>
            <br>
            <li style="text-align: justify;">Kocok lepas telur ayam hingga tidak ada bagian putih yang menggumpal lagi.</li>
            <br>
            <li style="text-align: justify;">Tambahkan margarin cair ke dalam adonan yang sudah didiamkan tadi. Masukkan juga telur yang sudah dikocok lepas tadi.</li>
            <br>
            <li style="text-align: justify;">Panaskan teflon dengan api kecil, kemudian tuangkan adonan hingga memenuhi setengah bagian teflon. Goyang-goyangkan loyang teflon agar adonan menempel pada permukaan loyang dan membentuk pinggiran.</li>
            <br>
            <li style="text-align: justify;">Tunggu sampai pinggiran martabak kering dan bagian tengahnya mengeluarkan gelembung. Setelah itu taburkan sisa 1 sendok makan gula pasir di permukaannya.</li>
            <br>
            <li style="text-align: justify;">Tutup loyang teflon, diamkan selama kurang lebih 5 menit. Setelah itu angkat martabak dari kompor.</li>
            <br>
            <li style="text-align: justify;">Selagi masih panas, olesi martabak dengan sisa 1 sendok makan margarin. Tuangi susu kental manis. Potong-potong dan beri topping sesuai selera.</li>
          </ol>
        </div>
    </section><!-- End Portfolio Details Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="container d-md-flex py-4">

      <div class="mr-md-auto text-center text-md-left">
        <div class="copyright">
          &copy; Copyright <strong><span>Lumia</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
          <!-- All the links in the footer should remain intact. -->
          <!-- You can delete the links only if you purchased the pro version. -->
          <!-- Licensing information: https://bootstrapmade.com/license/ -->
          <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/lumia-bootstrap-business-template/ -->
          Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
        </div>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'assets/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/jquery.easing/jquery.easing.min.js' %}"></script>
  <script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>
  <script src="{% static 'assets/vendor/waypoints/jquery.waypoints.min.js' %}"></script>
  <script src="{% static 'assets/vendor/counterup/counterup.min.js' %}"></script>
  <script src="{% static 'assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'assets/vendor/venobox/venobox.min.js' %}"></script>
  <script src="{% static 'assets/vendor/owl.carousel/owl.carousel.min.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'assets/js/main.js' %}"></script>

</body>

</html>