{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Resep Pangsit Goreng Viral Le Gino | Foodie</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'assets/img/favicon.png' %}" rel="icon">
  <link href="{% static 'assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/icofont/icofont.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/venobox/venobox.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/owl.carousel/assets/owl.carousel.min.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Lumia - v2.2.0
  * Template URL: https://bootstrapmade.com/lumia-bootstrap-business-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
  <style type="text/css">
    ol {margin-left: 0;}
    li { list-style-position: inside; }
    .container-portfolio {
      margin: auto;
      width: 50%;
    }
    @media only screen and (max-width:800px) {
    /* For tablets: */
    .container-portfolio {
      margin: auto;
      width: 80%;
      padding: 0;
    }
  }
  @media only screen and (max-width:500px) {
    /* For mobile phones: */
    .container-portfolio{
      margin: auto;
      width: 80%;
    }
  }
  </style>
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center">
      <div class="container d-flex align-items-center" style="width: 100%; box-sizing: content-box;">

      <div class="logo">
          <!-- <h1><a href="{% url 'index' %}">Foodie</a></h1> -->
          <!-- Uncomment below if you prefer to use an image logo -->
          <a href="{% url 'index' %}"><img src="{% static 'assets/img/logo.jpg' %}" style="width: 25%;" alt="logo"></a>
        </div>

      <nav class="nav-menu d-none d-xl-block" style="width: 100%;">
          <ul>
            <li><a href="{% url 'index' %}">Home</a></li>
            <li><a href="{% url 'kuliner-terkini' %}">Kuliner Terkini</a></li>
            <li><a href="{% url 'pojok-resep' %}">Pojok Resep</a></li>
            <li><a href="{% url 'fiber-foodie' %}">Fiber Foodie</a></li>
            <li><a href="{% url 'rekomendasi-tempat' %}">Rekomendasi Tempat</a></li>
            <li><a href="{% url 'tips-dan-trik' %}">Tips & Trik</a></li>
            <li><a href="{% url 'profil' %}">Profil</a></li>

        </ul>
      </nav><!-- .nav-menu -->

    </div>
  </header><!-- End Header -->

  <main id="main">

    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
      <div class="container-portfolio">

        <div class="portfolio-details-container">
          <br><br><br><br><br><br>
          <h1 style="text-align: center;">Resep Pangsit Goreng Viral Le Gino</h1>
          <br><br>

          <div class="owl-carousel portfolio-details-carousel">
            <img src="{% static 'assets/img/pojok-resep/pojok-resep-4-1.jpg' %}" class="img-fluid" alt="">
          </div>
          <p style="text-align: center;">Sumber foto : Pinterest</p>
          <h6>Reporter : Syifa Amalia</h6>

        </div>

        <div class="portfolio-description" style="overflow-wrap: break-word">
          <p style="text-align: justify;"><b>Jakarta, Foodie.id —</b> Pangsit goreng Le Gino mendadak viral dikalangan masyarakat, khususnya masyarakat ibukota. Warung pangsit ini beradu di Jalan Kampung Utan Bahagia RT 02 RW 04, Cengkareng Timur, Jakarta Barat.</p> 

          <p style="text-align: justify;">Meskipun berada di tengah pemukiman padat, warung ini tak pernah sepi pengunjung. Bahkan saking ramai peminatnya, para pembeli haru melakukan <i>pre-order</i> terlebih dahulu. Warung ini menawarkan menu spesial capcay, kwetiau dan mie tek-tek bersama pangsit.</p>

          <p style="text-align: justify;">Bagi kalian yang belum bisa merasakan pangsit viral ini, kalian bisa membuatnya di rumah lho, yuk simak resepnya!</p>

          <br>
          <p>Bahan :</p>
          <p style="margin-left: 10px;">Bahan pangsit :</p>
          <ul>
            <li>30 lembar kulit pangsit</li>
            <li>100 gram daging ayam cincang</li>
            <li>1 siung bawang putih</li>
            <li>1 butir telur</li>
            <li>¼ sdt kaldu bubuk</li>
            <li>¼ sdt lada putih</li>
            <li>2 sdm tepung sagu atau tapioka</li>
            <li>Sedikit jahe</li>
            <li>Daun bawang</li>
            <li>Garam secukupnya</li>
          </ul>

          <p style="margin-left: 10px;">Bahan tumisan (bumbu halus) :</p>
          <ul>
            <li>5 siung bawang putih</li>
            <li>2 butir kemiri</li>
            <li>½ sdt lada putih butir</li>
            <li>¼ sdt garam</li>
          </ul>

          <p style="margin-left: 10px;">Kecap-kecapan :</p>
          <ul>
            <li>2 sdm kecap asin</li>
            <li>1 sdm kecap ikan</li>
            <li>2 sdm saus tiram</li>
            <li>3-4 sdm kecap manis</li>
          </ul>

          <p style="margin-left: 10px;">Sayuran dan pelengkap :</p>
          <ul>
            <li>50 gr daging ayam cincang</li>
            <li>3 butir baso (iris tipis)</li>
            <li>1 butir telur (kocok lepas)</li>
            <li>2 batang sawi</li>
            <li>Tauge cekupnya</li>
            <li>Secukupnya daun bawang</li>
            <li>50 ml air matang</li>
          </ul>

          <br>
          <p>Cara memasak :</p> 
          <p style="text-align: justify;">1.  Pangsit : Dalam wadah, masukkan ayam, daun bawang, baput parut, jahe parut, telur, tepung tapioka, garam, kaldu, lada dan gula. Aduk rata</p>
          <div class="owl-carousel portfolio-details-carousel">
            <img src="{% static 'assets/img/pojok-resep/pojok-resep-4-2.jpg' %}" class="img-fluid"  style="max-width: 500px; height: auto; margin:auto;" alt="">
          </div>
          <p style="text-align: center;">Sumber foto : cookpad.com</p>

          <br>
          <p style="text-align: justify;">2. Ambil selembar kulit pangsit, oles pinggirnya dengan air tipis-tipis, lalu double dengan 1 lembar kulit pangsit. beri isian ayam, olesi lagi dengan air pinggirannya, lalu lipat menjadi segitiga (boleh berhenti sampai sini) atau lanjutkan dengan pertemukan ujung segitiga dan rekatkan dengan air hingga berbentuk seperti perahu.</p> 
          <div class="owl-carousel portfolio-details-carousel">
            <img src="{% static 'assets/img/pojok-resep/pojok-resep-4-3.jpg' %}" class="img-fluid" style="max-width: 500px; height: auto; margin:auto;"  alt="">
          </div>
          <p style="text-align: center;">Sumber foto : cookpad.com</p>
          
          <br>
          <p style="text-align: justify;">3. Dalam panci, didihkan 1/2 panci 
            air, tambahkan minyak. Setelah mendidih masukkan pangsit,masak hingga pangsit mengapung. Angkat dan siram dengan air. Sisihkan.
          </p>
          <div class="owl-carousel portfolio-details-carousel">
            <img src="{% static 'assets/img/pojok-resep/pojok-resep-4-4.jpg' %}" class="img-fluid" style="max-width: 500px; height: auto; margin:auto;" alt="">
          </div>
          <p style="text-align: center;">Sumber foto : cookpad.com</p>

          <br>
          <p style="text-align: justify;">4. Panaskan 5 sdm minyak goreng dalam wajan. Setelah panas, masukkan bumbu, tumis hingga agak wangi,masukkan telur, orak arik hingga matang. Masukkan daging ayam cincang, masak hingga matang. Masukkan bakso yang sudah di iris. Masukkan kecap asin, saus tiram, kecap ikan dan kecap manis. Aduk rata. Beri 50ml air, masukkan pangsit goreng. Aduk rata. Masukkan sayuran. Aduk rata. Masak hingga sayur agak layu. Angkat dan sajikan bersama daun bawang, bawang goreng dan kerupuk.
          </p>
          <div class="owl-carousel portfolio-details-carousel">
            <img src="{% static 'assets/img/pojok-resep/pojok-resep-4-5.jpg' %}" class="img-fluid"  style="max-width: 500px; height: auto; margin:auto;" alt="">
          </div>
          <p style="text-align: center;">Sumber foto : cookpad.com</p>


        </div>
    </section><!-- End Portfolio Details Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="container d-md-flex py-4">

      <div class="mr-md-auto text-center text-md-left">
        <div class="copyright">
          &copy; Copyright <strong><span>Lumia</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
          <!-- All the links in the footer should remain intact. -->
          <!-- You can delete the links only if you purchased the pro version. -->
          <!-- Licensing information: https://bootstrapmade.com/license/ -->
          <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/lumia-bootstrap-business-template/ -->
          Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
        </div>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'assets/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/jquery.easing/jquery.easing.min.js' %}"></script>
  <script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>
  <script src="{% static 'assets/vendor/waypoints/jquery.waypoints.min.js' %}"></script>
  <script src="{% static 'assets/vendor/counterup/counterup.min.js' %}"></script>
  <script src="{% static 'assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'assets/vendor/venobox/venobox.min.js' %}"></script>
  <script src="{% static 'assets/vendor/owl.carousel/owl.carousel.min.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'assets/js/main.js' %}"></script>

</body>

</html>