{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Segarnya King Mango Thai Ala Rumahan | Foodie</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'assets/img/favicon.png' %}" rel="icon">
  <link href="{% static 'assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/icofont/icofont.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/venobox/venobox.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/owl.carousel/assets/owl.carousel.min.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Lumia - v2.2.0
  * Template URL: https://bootstrapmade.com/lumia-bootstrap-business-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
  <style type="text/css">
    ol {margin-left: 0;}
    li { list-style-position: inside; }
    .container-portfolio {
      margin: auto;
      width: 50%;
    }
    @media only screen and (max-width:800px) {
    /* For tablets: */
    .container-portfolio {
      margin: auto;
      width: 80%;
      padding: 0;
    }
  }
  @media only screen and (max-width:500px) {
    /* For mobile phones: */
    .container-portfolio{
      margin: auto;
      width: 80%;
    }
  }
  </style>
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center">
      <div class="container d-flex align-items-center" style="width: 100%; box-sizing: content-box;">

      <div class="logo">
          <!-- <h1><a href="{% url 'index' %}">Foodie</a></h1> -->
          <!-- Uncomment below if you prefer to use an image logo -->
          <a href="{% url 'index' %}"><img src="{% static 'assets/img/logo.jpg' %}" style="width: 25%;" alt="logo"></a>
        </div>

      <nav class="nav-menu d-none d-xl-block" style="width: 100%;">
          <ul>
            <li><a href="{% url 'index' %}">Home</a></li>
            <li><a href="{% url 'kuliner-terkini' %}">Kuliner Terkini</a></li>
            <li><a href="{% url 'pojok-resep' %}">Pojok Resep</a></li>
            <li><a href="{% url 'fiber-foodie' %}">Fiber Foodie</a></li>
            <li><a href="{% url 'rekomendasi-tempat' %}">Rekomendasi Tempat</a></li>
            <li><a href="{% url 'tips-dan-trik' %}">Tips & Trik</a></li>
            <li><a href="{% url 'profil' %}">Profil</a></li>

        </ul>
      </nav><!-- .nav-menu -->

    </div>
  </header><!-- End Header -->

  <main id="main">

    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
      <div class="container-portfolio">

        <div class="portfolio-details-container">
          <br><br><br><br><br><br>
          <h1 style="text-align: center;">Segarnya King Mango Thai Ala Rumahan</h1>
          <br><br>

          <div class="owl-carousel portfolio-details-carousel">
            <img src="{% static 'assets/img/pojok-resep/pojok-resep-8.jpg' %}" class="img-fluid" alt="">
          </div>
          <p style="text-align: center;">Sumber foto : Pinterest</p>
          <h6>Reporter : Syifa Amalia</h6>

        </div>

        <div class="portfolio-description" style="overflow-wrap: break-word">
          <p style="text-align: justify;"><b>Jakarta, Foodie.id —</b> Selain Thai Tea, ada satu lagi minuman kekinian asal Negeri Gajah Putih, Thailand, yang terkenal yaitu Smoothie Mangga atau sering disebut King Mango. Minuman jus ala Thailand ini memakai bahan baku utama buah mangga dan <i>whipped cream.</i> Cita rasanya begitu segar dengan tekstur kental lembut. Sangat cocok diminum ketika cuaca panas siang hari. Berikut ini resep praktis pembuatan <i>Smoothie Mangga (King Mango).</i></p>
          <p>Bahan :</p>
          <p>Jus Mangga :</p>
          <ul>
            <li>2 buah mangga Harum Manis.</li>
            <li>3 – 4 sdm (sendok makan) susu kental manis putih.</li>
            <li>Air putih secukupnya</li>
            <li>Es batu secukupnya</li>
          </ul>

          <p>Topping :</p>
          <ul>
            <li>1 buah mangga.</li>
            <li>1 <i>scoop ice cream</i> rasa mangga / rasa vanilla.</li>
          </ul>

          <p>Krim :</p>
          <ul>
            <li>250 ml air dingin.</li>
            <li>1 kotak <i>whipped cream</i> (krim) instan.</li>
          </ul>


          <br>
          <p>Cara memasak :</p>
          <ol>
            <li style="text-align: justify;">Kupas kulit mangga, cuci hingga bersih, lalu ambil dagingnya dan potong menjadi kotak kecil-kecil.</li>
            <br>
            <li style="text-align: justify;">Pisahkan 2 buah mangga untuk jus, dan 1 buah mangga sebagai topping.</li>
            <br>
            <li style="text-align: justify;">Masukkan 2 buah mangga yang telah dipotong ke dalam blender.</li>
            <br>
            <li style="text-align: justify;">Tambahkan es batu secukupnya ke dalam blender (semakin banyak jumlah es batu, jus akan semakin kental).</li>
            <br>
            <li style="text-align: justify;">Tambahkan susu kental manis ke dalam blender.</li>
            <br>
            <li style="text-align: justify;">Tambahkan air putih sekitar 1/4 (seperempat) gelas belimbing ke dalam blender.</li>
            <br>
            <li style="text-align: justify;">Blender semua bahan-bahan yang telah dimasukkan tersebut hingga halus menjadi jus mangga kental.</li>
            <br>
            <li style="text-align: justify;">Buatlah krim / foam dengan cara : masukkan bubuk whipped cream ke dalam wadah (misal : baskom) sesuai kebutuhan. Tambahkan air dingin / air es secukupnya. Kocoklah kedua bahan tersebut memakai mixer dengan kecepatan tinggi selama lebih kurang 6 menit sampai mengental menjadi krim.</li>
            <br>
            <li style="text-align: justify;">Masukkan krim yang sudah jadi ke dalam plastik segitiga (piping bag), lalu gunting ujung plastik untuk memudahkan saat menuang ke dalam gelas.</li>
            <br>
            <li style="text-align: justify;">Siapkan gelas sebagai wadah <i>Smoothie Mangga (King Mango).</i></li>
            <br>
            <li style="text-align: justify;">Tuangkan jus mangga ke dalam gelas hingga 1/4 gelas.</li>
            <br>
            <li style="text-align: justify;">Masukkan krim ke dalam gelas sampai 1/2 gelas.</li>
            <br>
            <li style="text-align: justify;">Tuangkan kembali jus mangga hingga 3/4 gelas.</li>
            <br>
            <li style="text-align: justify;">Tambahkan topping di atasnya berupa krim, es krim, dan potongan mangga.</li>
            <br>
            <li style="text-align: justify;"><i>Smoothie Mangga (King Mango)</i> siap disajikan.</li>
            
           </ol>
        </div>
    </section><!-- End Portfolio Details Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="container d-md-flex py-4">

      <div class="mr-md-auto text-center text-md-left">
        <div class="copyright">
          &copy; Copyright <strong><span>Lumia</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
          <!-- All the links in the footer should remain intact. -->
          <!-- You can delete the links only if you purchased the pro version. -->
          <!-- Licensing information: https://bootstrapmade.com/license/ -->
          <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/lumia-bootstrap-business-template/ -->
          Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
        </div>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'assets/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/jquery.easing/jquery.easing.min.js' %}"></script>
  <script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>
  <script src="{% static 'assets/vendor/waypoints/jquery.waypoints.min.js' %}"></script>
  <script src="{% static 'assets/vendor/counterup/counterup.min.js' %}"></script>
  <script src="{% static 'assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'assets/vendor/venobox/venobox.min.js' %}"></script>
  <script src="{% static 'assets/vendor/owl.carousel/owl.carousel.min.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'assets/js/main.js' %}"></script>

</body>

</html>