{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Dadar Tahu Telur Bebek Ala Chef Renatta Moeloek | Foodie</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'assets/img/favicon.png' %}" rel="icon">
  <link href="{% static 'assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/icofont/icofont.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/venobox/venobox.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/owl.carousel/assets/owl.carousel.min.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Lumia - v2.2.0
  * Template URL: https://bootstrapmade.com/lumia-bootstrap-business-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
  <style type="text/css">
    ol {margin-left: 0;}
    li { list-style-position: inside; }
    .container-portfolio {
      margin: auto;
      width: 50%;
    }
    @media only screen and (max-width:800px) {
    /* For tablets: */
    .container-portfolio {
      margin: auto;
      width: 80%;
      padding: 0;
    }
  }
  @media only screen and (max-width:500px) {
    /* For mobile phones: */
    .container-portfolio{
      margin: auto;
      width: 80%;
    }
  }
  </style>
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center">
      <div class="container d-flex align-items-center" style="width: 100%; box-sizing: content-box;">

      <div class="logo">
          <!-- <h1><a href="{% url 'index' %}">Foodie</a></h1> -->
          <!-- Uncomment below if you prefer to use an image logo -->
          <a href="{% url 'index' %}"><img src="{% static 'assets/img/logo.jpg' %}" style="width: 25%;" alt="logo"></a>
        </div>

      <nav class="nav-menu d-none d-xl-block" style="width: 100%;">
          <ul>
            <li><a href="{% url 'index' %}">Home</a></li>
            <li><a href="{% url 'kuliner-terkini' %}">Kuliner Terkini</a></li>
            <li><a href="{% url 'pojok-resep' %}">Pojok Resep</a></li>
            <li><a href="{% url 'fiber-foodie' %}">Fiber Foodie</a></li>
            <li><a href="{% url 'rekomendasi-tempat' %}">Rekomendasi Tempat</a></li>
            <li><a href="{% url 'tips-dan-trik' %}">Tips & Trik</a></li>
            <li><a href="{% url 'profil' %}">Profil</a></li>

        </ul>
      </nav><!-- .nav-menu -->

    </div>
  </header><!-- End Header -->

  <main id="main">

    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
      <div class="container-portfolio">

        <div class="portfolio-details-container">
          <br><br><br><br><br><br>
          <h1 style="text-align: center;">Dadar Tahu Telur Bebek Ala Chef Renatta Moeloek</h1>
          <br><br>

          <div class="owl-carousel portfolio-details-carousel">
            <img src="{% static 'assets/img/pojok-resep/pojok-resep-3-1.jpg' %}" class="img-fluid" alt="">
          </div>
          <p style="text-align: center;">Sumber foto : Pinterest</p>
          <h6>Reporter : Syifa Amalia</h6>

        </div>

        <div class="portfolio-description" style="overflow-wrap: break-word">
          <p style="text-align: justify;"><b>Jakarta, Foodie.id —</b> Chef Renatta Moeloek, namanya mulai dikenal luas setelah  menjadi juri program masak Master Chef Indonesia. Chef cantik ini memang selalu mencuri perhatian para penonton, bukan hanya karena kepiawaiannya dalam memasak. Tapi ia juga suka membagikan berbagai tips memasak dan resep di akun <i>instagram</i>-nya.</p>
          <p style="text-align: justify;">Saat ini Chef Renatta membuka bisnis kulinernya yang diberi nama <b>Enak Dibungkus</b>. Sesuai dengan namanya, semua makanan yang dipesan memang hanya bisa dibungkus untuk dibawa pulang. Jadi kamu bisa menikmati masakan Chef Renatta ini dengan cara memesan <i>online.</i></p>
          <p style="text-align: justify;">Menu yang ditawarkan merupakan masakan rumahan seperti Lidah Cabe Merah, Paru Cabe Merah, Paru Cabe Ijo dan beragam menu lainnya. Menu dari Enak Dibungkus ini telah banyak di-<i>review</i> oleh para <i>Food Vlogger</i>, lho. Salah satu yang unik dan jadi favorit adalah menu Dadar Tahu Telur Bebek.</p>
          <p style="text-align: justify;">Meski penampilannya tidak ada bedanya dengan telur dadar biasa, tapi soal rasa jelas berbeda. Apalagi ini dimasak oleh seorang Chef, yang rasanya tentu sudah tidak diragukan lagi. Dadar Tahu Telur Bebek ini punya tekstur yang lembut di mulut dan nggak bau amis.</p>
          <p style="text-align: justify;">Meski bukan resep dari Chef Renatta langsung, karena tentunya itu rahasia bisnis ya. Tapi kamu bisa contek resepnya dari Eddy Siswanto, lho. Salah satu peserta Master Chef Indonesia yang mencoba <i>recook</i> menu andalan dari Enak Dibungkus ini:</p>

          <br>
          <p>Bahan :</p>
          <ul>
            <li>1 potong tahu putih (ukuran besar)</li>
            <li>6 butir telur bebek</li>
            <li>3 buah cabe merah besar</li>
            <li>5 gr tepung maizena</li>
            <li>5 lembar daun jeruk</li>
            <li>5 siung bawang merah</li>
            <li>5 siung bawang putih</li>
            <li>3 batang daun bawang</li>
            <li>5 gr garam</li>
            <li>8 gr kaldu ayam bubuk</li>
            <li>1 gr lada bubuk</li>
          </ul>

          <br>
          <p>Cara memasak :</p>
          <ol>
            <li style="text-align: justify;">Tahu putih dipotong dadu lalu digoreng sebentar dan sisihkan.</li>
            <br>
            <li style="text-align: justify;">Buang tulang daun jeruk, lalu iris tipis tipis Iris cabe merah, bawang merah, bawang putih dan daun bawang.
            </li>
            <br>
            <li style="text-align: justify;">Campur irisan daun jeruk, cabe merah, bawang merah, bawang putih dan daun bawang ke dalam wadah. Lalu masukan telur bebek.
            </li>
            <br>
            <li style="text-align: justify;">Tambahkan garam, kaldu ayam bubuk, tepung maizena, dan lada bubuk secukupnya.
            </li>
          </ol>

        </div>
    </section><!-- End Portfolio Details Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="container d-md-flex py-4">

      <div class="mr-md-auto text-center text-md-left">
        <div class="copyright">
          &copy; Copyright <strong><span>Lumia</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
          <!-- All the links in the footer should remain intact. -->
          <!-- You can delete the links only if you purchased the pro version. -->
          <!-- Licensing information: https://bootstrapmade.com/license/ -->
          <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/lumia-bootstrap-business-template/ -->
          Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
        </div>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'assets/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/jquery.easing/jquery.easing.min.js' %}"></script>
  <script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>
  <script src="{% static 'assets/vendor/waypoints/jquery.waypoints.min.js' %}"></script>
  <script src="{% static 'assets/vendor/counterup/counterup.min.js' %}"></script>
  <script src="{% static 'assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'assets/vendor/venobox/venobox.min.js' %}"></script>
  <script src="{% static 'assets/vendor/owl.carousel/owl.carousel.min.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'assets/js/main.js' %}"></script>

</body>

</html>