{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Dadar Tahu Telur Bebek Ala Chef Renatta Moeloek | Foodie</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'assets/img/favicon.png' %}" rel="icon">
  <link href="{% static 'assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/icofont/icofont.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/venobox/venobox.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/owl.carousel/assets/owl.carousel.min.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Lumia - v2.2.0
  * Template URL: https://bootstrapmade.com/lumia-bootstrap-business-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
  <style type="text/css">
    ol {margin-left: 0;}
    li { list-style-position: inside; }
    .container-portfolio {
      margin: auto;
      width: 50%;
    }
    @media only screen and (max-width:800px) {
    /* For tablets: */
    .container-portfolio {
      margin: auto;
      width: 80%;
      padding: 0;
    }
  }
  @media only screen and (max-width:500px) {
    /* For mobile phones: */
    .container-portfolio{
      margin: auto;
      width: 80%;
    }
  }
  </style>
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center">
      <div class="container d-flex align-items-center" style="width: 100%; box-sizing: content-box;">

      <div class="logo">
          <!-- <h1><a href="{% url 'index' %}">Foodie</a></h1> -->
          <!-- Uncomment below if you prefer to use an image logo -->
          <a href="{% url 'index' %}"><img src="{% static 'assets/img/logo.jpg' %}" style="width: 25%;" alt="logo"></a>
        </div>

      <nav class="nav-menu d-none d-xl-block" style="width: 100%;">
          <ul>
            <li><a href="{% url 'index' %}">Home</a></li>
            <li><a href="{% url 'kuliner-terkini' %}">Kuliner Terkini</a></li>
            <li><a href="{% url 'pojok-resep' %}">Pojok Resep</a></li>
            <li><a href="{% url 'fiber-foodie' %}">Fiber Foodie</a></li>
            <li><a href="{% url 'rekomendasi-tempat' %}">Rekomendasi Tempat</a></li>
            <li><a href="{% url 'tips-dan-trik' %}">Tips & Trik</a></li>
            <li class="active"><a href="{% url 'profil' %}">Profil</a></li>

        </ul>
      </nav><!-- .nav-menu -->

    </div>
  </header><!-- End Header -->

  <main id="main">

    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
      <div class="container-portfolio">

        <div class="portfolio-details-container">
          <br><br><br><br><br><br>
          <h1><b>FOODIE.ID</b></h1>
        </div>

        <div class="portfolio-description" style="overflow-wrap: break-word">
          <ol type="A" style="font-weight: bold;">
            <li><b>Identitas Media Online</b>
              <ol>
                <li style="text-align: justify;font-weight: normal;">Nama Media Online 	: <b>foodie.id</b>
                </li>
                <li style="text-align: justify;font-weight: normal;">Filosofi		: Kata <i>“foodie”</i> berarti <i>a person having an avid interest in the latest foods</i> yang memiliki arti yaitu seseorang yang sangat tertarik terhadap makanan – makanan terkini. Sesuai dengan misi media online yang akan kita buat, nama tersebut sangat cocok untuk dijadikan nama media online kami. </li>
              </ol>
            </li>
            <br><br>

            <li><b>Visi dan Misi</b>
              <ol>
                <li style="text-align: justify;font-weight: normal;">Visi		: Informatif dan Kreatif
                </li>
                <li style="text-align: justify;font-weight: normal;">Misi		:
                <br>
                  <ol type="a">
                    <li style="text-align: justify;font-weight: normal;">Menyajikan informasi mengenai <i>Tips and Trick</i></li>
                    <li style="text-align: justify;font-weight: normal;">Menyajikan informasi mengenai resep - resep masakan</li>
                    <li style="text-align: justify;font-weight: normal;">Menyajikan informasi mengenai tempat – tempat kuliner rekomendasi di sekitar Jabodetabek.</li>
                    <li style="text-align: justify;font-weight: normal;">Menyajikan informasi makanan sehat, dan informasi mengenai kuliner – kuliner terkini.</li>
                  </ol>
              </ol>
            </li>
            <br><br>

            <li><b>Kanal</b>
              <ol>
                <li style="text-align: justify;font-weight: normal;"><i>Tips and Trick</i>
                  <br>
                  <p style="text-align: justify;font-weight: normal;">Memuat informasi tentang berbagai tips dan trik dalam dunia kuliner, seperti tips dan trik dalam mengolah masakan sehat namun mudah untuk dibuat.</p>
                </li>

                <li style="text-align: justify;font-weight: normal;">Resep Masakan (Pojok Resep)
                  <br>
                  <p style="text-align: justify;font-weight: normal;">Memuat informasi tentang resep – resep masakan Nusantara maupun Internasional.</p>
                </li>

                <li style="text-align: justify;font-weight: normal;">Rekomendasi Tempat
                  <br>
                  <p style="text-align: justify;font-weight: normal;">Memuat informasi tentang rekomendasi tempat – tempat makanan di sekitar Jabodetabek.</p>
                </li>

                <li style="text-align: justify;font-weight: normal;">Makanan Sehat (<i>Fiber Foodie</i>)
                  <br>
                  <p style="text-align: justify;font-weight: normal;">Memuat informasi tentang makanan – makanan sehat, kandungan gizi, dan cara mengolahnya.</p>
                </li>

                <li style="text-align: justify;font-weight: normal;">Kuliner Terkini
                  <br>
                  <p style="text-align: justify;font-weight: normal;">Memuat informasi tentang kuliner – kuliner kekinian yang sedang ramai di kalangan masyarakat.</p>
                </li>
              </ol>
            </li>
            <br><br>

            <li><b>Susunan Redaksi</b>
              <ol>
                <li style="text-align: justify;font-weight: normal;"><b>Pimpinan Redaksi :</b> Bagas Priambodo</li>
                <li style="text-align: justify;font-weight: normal;"><b>Redaktur Pelaksana :</b> Farah Nabilah</li>
                <li style="text-align: justify;font-weight: normal;"><b>Reporter :</b> Dea Afifa, Syifa Amalia, Farah Nabilah, Andyta Novianty, dan Bagas Priambodo</li>
                <li style="text-align: justify;font-weight: normal;"><b>Editor :</b> Syifa Amalia</li>
                <li style="text-align: justify;font-weight: normal;"><b>Layoter :</b> Andyta Novianty</li>
                <li style="text-align: justify;font-weight: normal;"><b>Infografis :</b> Syifa Amallia</li>
              </ol>
            </li>
          </ol>

          
        </div>
    </section><!-- End Portfolio Details Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="container d-md-flex py-4">

      <div class="mr-md-auto text-center text-md-left">
        <div class="copyright">
          &copy; Copyright <strong><span>Lumia</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
          <!-- All the links in the footer should remain intact. -->
          <!-- You can delete the links only if you purchased the pro version. -->
          <!-- Licensing information: https://bootstrapmade.com/license/ -->
          <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/lumia-bootstrap-business-template/ -->
          Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
        </div>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'assets/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/jquery.easing/jquery.easing.min.js' %}"></script>
  <script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>
  <script src="{% static 'assets/vendor/waypoints/jquery.waypoints.min.js' %}"></script>
  <script src="{% static 'assets/vendor/counterup/counterup.min.js' %}"></script>
  <script src="{% static 'assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'assets/vendor/venobox/venobox.min.js' %}"></script>
  <script src="{% static 'assets/vendor/owl.carousel/owl.carousel.min.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'assets/js/main.js' %}"></script>

</body>

</html>