{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Rekomendasi Tempat | Foodie</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'assets/img/favicon.png' %}" rel="icon">
  <link href="{% static 'assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/icofont/icofont.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/venobox/venobox.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/owl.carousel/assets/owl.carousel.min.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Lumia - v2.2.0
  * Template URL: https://bootstrapmade.com/lumia-bootstrap-business-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
  <style>
    .img-fluid{
      width:500px;
      height:300px;
      object-fit:cover;
      object-position: 50% 50%;
    }
  </style>
</head>

<body>

    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top d-flex align-items-center">
      <div class="container d-flex align-items-center" style="width: 100%; box-sizing: content-box;">
  
        <div class="logo">
          <!-- <h1><a href="{% url 'index' %}">Foodie</a></h1> -->
          <!-- Uncomment below if you prefer to use an image logo -->
          <a href="{% url 'index' %}"><img src="{% static 'assets/img/logo.jpg' %}" style="width: 25%;" alt="logo"></a>
        </div>
        
        <nav class="nav-menu d-none d-xl-block" style="width: 100%;">
          <ul>
            <li><a href="{% url 'index' %}">Home</a></li>
            <li><a href="{% url 'kuliner-terkini' %}">Kuliner Terkini</a></li>
            <li><a href="{% url 'pojok-resep' %}">Pojok Resep</a></li>
            <li><a href="{% url 'fiber-foodie' %}">Fiber Foodie</a></li>
            <li class="active"><a href="{% url 'rekomendasi-tempat' %}">Rekomendasi Tempat</a></li>
            <li><a href="{% url 'tips-dan-trik' %}">Tips & Trik</a></li>
            <li><a href="{% url 'profil' %}">Profil</a></li>
  
          </ul>
        </nav><!-- .nav-menu -->

      </div>
    </header><!-- End Header -->

    <main id="main">
        <br><br><br>
        <!-- ======= Portfolio Section ======= -->
        <section id="portfolio" class="portfolio">
            <div class="container">
    
            <div class="section-title">
                <h2>Rekomendasi Tempat</h2>
                <p>Kumpulan berita yang membahas tentang rekomendasi tempat makan enak!</p>
            </div>

            <div class="owl-carousel portfolio-details-carousel">
              <img src="{% static 'assets/img/rekomendasi-tempat/infografis-rekomendasi-tempat.png' %}" style="max-width:500px; height: auto; margin: auto; margin-bottom: 30px;" alt="infografis-tips-and-trik">
            </div>

            <br>
            <h2><b>Berita seputar Rekomendasi Tempat</b></h2>
            <br>
    
            <div class="row portfolio-container">
    
              <div class="col-lg-4 col-md-6 portfolio-item filter-app wow fadeInUp">
                <div class="portfolio-wrap">
                    <figure>
                    <img src="{% static 'assets/img/rekomendasi-tempat/rekomendasi-tempat-1.jpg' %}" class="img-fluid" alt="">
                    <a href="{% static 'assets/img/rekomendasi-tempat/rekomendasi-tempat-1.jpg' %}" data-gall="portfolioGallery" class="link-preview venobox" title="Preview"><i class="bx bx-plus"></i></a>
                    <a href="{% url 'rekomendasi-tempat-article-1' %}" class="link-details" title="More Details"><i class="bx bx-link"></i></a>
                    </figure>
    
                    <div class="portfolio-info">
                    <h4>M Bloc Space Tempat Nongkrong</h4>
                    <h4>Millennial Bergaya Vintage</h4>
                    <p><a href="{% url 'rekomendasi-tempat-article-1' %}">Baca lebih lanjut...</a></p>
                    <br>
                    </div>
                </div>
              </div>

              <div class="col-lg-4 col-md-6 portfolio-item filter-app wow fadeInUp">
                <div class="portfolio-wrap">
                    <figure>
                    <img src="{% static 'assets/img/rekomendasi-tempat/rekomendasi-tempat-2.jpg' %}" class="img-fluid" alt="">
                    <a href="{% static 'assets/img/rekomendasi-tempat/rekomendasi-tempat-2.jpg' %}" data-gall="portfolioGallery" class="link-preview venobox" title="Preview"><i class="bx bx-plus"></i></a>
                    <a href="{% url 'rekomendasi-tempat-article-2' %}" class="link-details" title="More Details"><i class="bx bx-link"></i></a>
                    </figure>
    
                    <div class="portfolio-info">
                    <h4>Ngopi Santai di Kafe Daong dengan </h4>
                    <h4>Panoroma Pohon Pinus</h4>
                    <p><a href="{% url 'rekomendasi-tempat-article-2' %}">Baca lebih lanjut...</a></p>
                    <br>
                    </div>
                </div>
              </div>

              <div class="col-lg-4 col-md-6 portfolio-item filter-app wow fadeInUp">
                <div class="portfolio-wrap">
                    <figure>
                    <img src="{% static 'assets/img/rekomendasi-tempat/rekomendasi-tempat-3.jpg' %}" class="img-fluid" alt="">
                    <a href="{% static 'assets/img/rekomendasi-tempat/rekomendasi-tempat-3.jpg' %}" data-gall="portfolioGallery" class="link-preview venobox" title="Preview"><i class="bx bx-plus"></i></a>
                    <a href="{% url 'rekomendasi-tempat-article-3' %}" class="link-details" title="More Details"><i class="bx bx-link"></i></a>
                    </figure>
    
                    <div class="portfolio-info">
                    <h4>TeKoTe, Tempat Baru Nikmati</h4>
                    <h4>Camilan Tradisional di Jakarta</h4>
                    <p><a href="{% url 'rekomendasi-tempat-article-3' %}">Baca lebih lanjut...</a></p>
                    <br>
                    </div>
                </div>
              </div>

              <div class="col-lg-4 col-md-6 portfolio-item filter-app wow fadeInUp">
                <div class="portfolio-wrap">
                    <figure>
                    <img src="{% static 'assets/img/rekomendasi-tempat/rekomendasi-tempat-4.jpg' %}" class="img-fluid" alt="">
                    <a href="{% static 'assets/img/rekomendasi-tempat/rekomendasi-tempat-4.jpg' %}" data-gall="portfolioGallery" class="link-preview venobox" title="Preview"><i class="bx bx-plus"></i></a>
                    <a href="{% url 'rekomendasi-tempat-article-4' %}" class="link-details" title="More Details"><i class="bx bx-link"></i></a>
                    </figure>
    
                    <div class="portfolio-info">
                    <h4>Tempat Nongkrong Kekinian</h4>
                    <h4>di BSD Ini Lagi Ngehits</h4>
                    <p><a href="{% url 'rekomendasi-tempat-article-4' %}">Baca lebih lanjut...</a></p>
                    <br>
                    </div>
                </div>
              </div>

              <div class="col-lg-4 col-md-6 portfolio-item filter-app wow fadeInUp">
                <div class="portfolio-wrap">
                    <figure>
                    <img src="{% static 'assets/img/rekomendasi-tempat/rekomendasi-tempat-5.jpg' %}" class="img-fluid" alt="">
                    <a href="{% static 'assets/img/rekomendasi-tempat/rekomendasi-tempat-5.jpg' %}" data-gall="portfolioGallery" class="link-preview venobox" title="Preview"><i class="bx bx-plus"></i></a>
                    <a href="{% url 'rekomendasi-tempat-article-5' %}" class="link-details" title="More Details"><i class="bx bx-link"></i></a>
                    </figure>
    
                    <div class="portfolio-info">
                    <h4>Tempat Nongkrong Suasana</h4>
                    <h4>Camping Sambil Nonton Film</h4>
                    <p><a href="{% url 'rekomendasi-tempat-article-5' %}">Baca lebih lanjut...</a></p>
                    <br>
                    </div>
                </div>
              </div>

              <div class="col-lg-4 col-md-6 portfolio-item filter-app wow fadeInUp">
                <div class="portfolio-wrap">
                    <figure>
                    <img src="{% static 'assets/img/rekomendasi-tempat/rekomendasi-tempat-6.jpg' %}" class="img-fluid" alt="">
                    <a href="{% static 'assets/img/rekomendasi-tempat/rekomendasi-tempat-6.jpg' %}" data-gall="portfolioGallery" class="link-preview venobox" title="Preview"><i class="bx bx-plus"></i></a>
                    <a href="{% url 'rekomendasi-tempat-article-6' %}" class="link-details" title="More Details"><i class="bx bx-link"></i></a>
                    </figure>
    
                    <div class="portfolio-info">
                    <h4>Warung Nako Usung Tema Warteg</h4>
                    <h4>Modern Bergaya Minimalis</h4>
                    <p><a href="{% url 'rekomendasi-tempat-article-6' %}">Baca lebih lanjut...</a></p>
                    <br>
                    </div>
                </div>
              </div>

              <div class="col-lg-4 col-md-6 portfolio-item filter-app wow fadeInUp">
                <div class="portfolio-wrap">
                    <figure>
                    <img src="{% static 'assets/img/rekomendasi-tempat/rekomendasi-tempat-7.jpg' %}" class="img-fluid" alt="">
                    <a href="{% static 'assets/img/rekomendasi-tempat/rekomendasi-tempat-7.jpg' %}" data-gall="portfolioGallery" class="link-preview venobox" title="Preview"><i class="bx bx-plus"></i></a>
                    <a href="{% url 'rekomendasi-tempat-article-7' %}" class="link-details" title="More Details"><i class="bx bx-link"></i></a>
                    </figure>
    
                    <div class="portfolio-info">
                    <h4>Langit Seduh : Sensasi Bersantap</h4>
                    <h4>Romantis di Kafe Beratap Langit</h4>
                    <p><a href="{% url 'rekomendasi-tempat-article-7' %}">Baca lebih lanjut...</a></p>
                    <br>
                    </div>
                </div>
              </div>

              <div class="col-lg-4 col-md-6 portfolio-item filter-app wow fadeInUp">
                <div class="portfolio-wrap">
                    <figure>
                    <img src="{% static 'assets/img/rekomendasi-tempat/rekomendasi-tempat-8.jpg' %}" class="img-fluid" alt="">
                    <a href="{% static 'assets/img/rekomendasi-tempat/rekomendasi-tempat-8.jpg' %}" data-gall="portfolioGallery" class="link-preview venobox" title="Preview"><i class="bx bx-plus"></i></a>
                    <a href="{% url 'rekomendasi-tempat-article-8' %}" class="link-details" title="More Details"><i class="bx bx-link"></i></a>
                    </figure>
    
                    <div class="portfolio-info">
                    <h4>Lucky Cat Coffee & Kitchen:</h4>
                    <h4>Tempat Ngopi yang Instagramable</h4>
                    <p><a href="{% url 'rekomendasi-tempat-article-8' %}">Baca lebih lanjut...</a></p>
                    <br>
                    </div>
                </div>
              </div>

              <div class="col-lg-4 col-md-6 portfolio-item filter-app wow fadeInUp">
                <div class="portfolio-wrap">
                    <figure>
                    <img src="{% static 'assets/img/rekomendasi-tempat/rekomendasi-tempat-9.jpg' %}" class="img-fluid" alt="">
                    <a href="{% static 'assets/img/rekomendasi-tempat/rekomendasi-tempat-9.jpg' %}" data-gall="portfolioGallery" class="link-preview venobox" title="Preview"><i class="bx bx-plus"></i></a>
                    <a href="{% url 'rekomendasi-tempat-article-9' %}" class="link-details" title="More Details"><i class="bx bx-link"></i></a>
                    </figure>
    
                    <div class="portfolio-info">
                    <h4>PikNik: Tempat Nongkrong</h4>
                    <h4>Suasana Summer Vibes</h4>
                    <p><a href="{% url 'rekomendasi-tempat-article-9' %}">Baca lebih lanjut...</a></p>
                    <br>
                    </div>
                </div>
              </div>

              <div class="col-lg-4 col-md-6 portfolio-item filter-app wow fadeInUp">
                <div class="portfolio-wrap">
                    <figure>
                    <img src="{% static 'assets/img/rekomendasi-tempat/rekomendasi-tempat-10.jpg' %}" class="img-fluid" alt="">
                    <a href="{% static 'assets/img/rekomendasi-tempat/rekomendasi-tempat-10.jpg' %}" data-gall="portfolioGallery" class="link-preview venobox" title="Preview"><i class="bx bx-plus"></i></a>
                    <a href="{% url 'rekomendasi-tempat-article-10' %}" class="link-details" title="More Details"><i class="bx bx-link"></i></a>
                    </figure>
    
                    <div class="portfolio-info">
                    <h4>Menikmati Sushi Hiro</h4>
                    <h4>Seperti Di Jepang</h4>
                    <p><a href="{% url 'rekomendasi-tempat-article-10' %}">Baca lebih lanjut...</a></p>
                    <br>
                    </div>
                </div>
              </div>

            
            </div>
    
            </div>
        </section>
        <!-- End Portfolio Section -->
    </main>

    <!-- Footer -->
    <footer id="footer">
        <div class="container d-md-flex py-4">

            <div class="mr-md-auto text-center text-md-left">
              <div class="copyright">
                &copy; Copyright <strong><span>Lumia</span></strong>. All Rights Reserved
              </div>
              <div class="credits">
                <!-- All the links in the footer should remain intact. -->
                <!-- You can delete the links only if you purchased the pro version. -->
                <!-- Licensing information: https://bootstrapmade.com/license/ -->
                <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/lumia-bootstrap-business-template/ -->
                Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
              </div>
            </div>
        </div>
    </footer>
    <!-- EndFooter -->

    <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'assets/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/jquery.easing/jquery.easing.min.js' %}"></script>
  <script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>
  <script src="{% static 'assets/vendor/waypoints/jquery.waypoints.min.js' %}"></script>
  <script src="{% static 'assets/vendor/counterup/counterup.min.js' %}"></script>
  <script src="{% static 'assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'assets/vendor/venobox/venobox.min.js' %}"></script>
  <script src="{% static 'assets/vendor/owl.carousel/owl.carousel.min.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'assets/js/main.js' %}"></script>

</body>

</html>