{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Tips Memasak Cepat dan Praktis | Foodie</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'assets/img/favicon.png' %}" rel="icon">
  <link href="{% static 'assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/icofont/icofont.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/venobox/venobox.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/owl.carousel/assets/owl.carousel.min.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Lumia - v2.2.0
  * Template URL: https://bootstrapmade.com/lumia-bootstrap-business-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
  <style type="text/css">
    ol {margin-left: 0;}
    li { list-style-position: inside; }
    .container-portfolio {
      margin: auto;
      width: 50%;
    }
    @media only screen and (max-width:800px) {
    /* For tablets: */
    .container-portfolio {
      margin: auto;
      width: 80%;
      padding: 0;
    }
  }
  @media only screen and (max-width:500px) {
    /* For mobile phones: */
    .container-portfolio{
      margin: auto;
      width: 80%;
    }
  }
  </style>
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center">
      <div class="container d-flex align-items-center" style="width: 100%; box-sizing: content-box;">

      <div class="logo">
          <!-- <h1><a href="{% url 'index' %}">Foodie</a></h1> -->
          <!-- Uncomment below if you prefer to use an image logo -->
          <a href="{% url 'index' %}"><img src="{% static 'assets/img/logo.jpg' %}" style="width: 25%;" alt="logo"></a>
        </div>

      <nav class="nav-menu d-none d-xl-block" style="width: 100%;">
          <ul>
            <li><a href="{% url 'index' %}">Home</a></li>
            <li><a href="{% url 'kuliner-terkini' %}">Kuliner Terkini</a></li>
            <li><a href="{% url 'pojok-resep' %}">Pojok Resep</a></li>
            <li><a href="{% url 'fiber-foodie' %}">Fiber Foodie</a></li>
            <li><a href="{% url 'rekomendasi-tempat' %}">Rekomendasi Tempat</a></li>
            <li><a href="{% url 'tips-dan-trik' %}">Tips & Trik</a></li>
            <li><a href="{% url 'profil' %}">Profil</a></li>

        </ul>
      </nav><!-- .nav-menu -->

    </div>
  </header><!-- End Header -->

  <main id="main">

    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
      <div class="container-portfolio">

        <div class="portfolio-details-container">
          <br><br><br><br><br><br>
          <h1 style="text-align: center;">Tips Memasak Cepat dan Praktis</h1>
          <br><br>

          <div class="owl-carousel portfolio-details-carousel">
            <img src="{% static 'assets/img/tips-and-trik/tips-and-trik-9.jpg' %}" class="img-fluid" alt="">
          </div>
          <p style="text-align: center;">Sumber foto : Pinterest</p>
          <h6>Reporter : Dea Afifa</h6>

        </div>

        <div class="portfolio-description" style="overflow-wrap: break-word">
          <p style="text-align: justify;"><b>Bekasi, Foodie.id —</b> Bagi sebagian orang, memasak makanan sendiri jauh lebih menguntungkan dan menyehatkan ketimbang membeli makanan di luar. Dengan memasak sendiri, cita rasa makanan juga bisa diatur sesuai selera.</p>
          <p style="text-align: justify;">Namun, tak semua orang punya waktu untuk mengolah makanan sendiri. Apalagi, mempersiapkan bahan masakan juga memerlukan waktu yang cukup lama.</p>
          <p style="text-align: justify;">Ada beberapa tips yang bisa kamu praktikkan agar bisa memangkas waktu saat memasak.</p>
          
          <br>
          <p style="text-align: justify;">1. Rencanakan menu selama seminggu ke depan</p>
          <p style="text-align: justify;">Bila kamu tak punya cukup waktu untuk memikirkan menu apa yang akan dimasak setiap harinya, disarankan untuk menulis perencanaan mengenai menu hidangan yang akan disajikan selama seminggu ke depan. Perencanaan tersebut akan mempermudah kita untuk menyiapkan bahan-bahan apa saja yang harus dibeli dan mempercepat proses persiapan memasak.</p>
          
          <br>
          <p style="text-align: justify;">2. Selalu simpan persediaan bumbu dasar</p>
          <p style="text-align: justify;">Menyimpan bumbu dasar seperti bawang putih, bawang merah, garam, gula, dan merica akan membantumu memasak hidangan yang kaya cita rasa walau hanya punya sedikit waktu sekalipun. Bumbu-bumbu tersebut juga bisa membuatmu berkreasi dengan berbagai macam menu hidangan. Selain bumbu dasar, disarankan pula untuk menyimpan beberapa jenis rempah lainnya untuk menciptakan cita rasa hidangan yang nikmat, meski menu yang disajikan setiap harinya tak berbeda jauh.</p>
          
          <br>
          <p style="text-align: justify;">3. Olah bahan-bahan dasar dan simpan di dalam kulkas</p>
          <p style="text-align: justify;">Tahukah kamu, faktor utama yang membuat memasak perlu waktu lama adalah mengolah bahan-bahannya.</p> 
          <p style="text-align: justify;">Karenanya, kamu bisa menghaluskan terlebih dahulu bahan-bahan yang akan dimasak, kemudian masukkan ke dalam wadah kedap udara dan simpan di dalam kulkas atau freezer hingga dibutuhkan nantinya.</p>
          
          <br>
          <p style="text-align: justify;">4. Masak dalam jumlah besar</p>
          <p style="text-align: justify;">Memasak dalam jumlah dua kali lipat ketimbang porsi yang akan disajikan juga bisa dilakukan untuk menghemat waktu, lho. Misalnya, saat kita memasak menu makanan pokok seperti nasi, quinoa, kacang polong, atau pasta, kita bisa menyantapnya selama beberapa kali dalam satu hari. Atau, kita juga bisa menyimpannya ke dalam <i>freezer</i>, lalu menyajikannya kembali keesokan harinya.</p>
        </div>
    </section><!-- End Portfolio Details Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="container d-md-flex py-4">

      <div class="mr-md-auto text-center text-md-left">
        <div class="copyright">
          &copy; Copyright <strong><span>Lumia</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
          <!-- All the links in the footer should remain intact. -->
          <!-- You can delete the links only if you purchased the pro version. -->
          <!-- Licensing information: https://bootstrapmade.com/license/ -->
          <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/lumia-bootstrap-business-template/ -->
          Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
        </div>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'assets/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/jquery.easing/jquery.easing.min.js' %}"></script>
  <script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>
  <script src="{% static 'assets/vendor/waypoints/jquery.waypoints.min.js' %}"></script>
  <script src="{% static 'assets/vendor/counterup/counterup.min.js' %}"></script>
  <script src="{% static 'assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'assets/vendor/venobox/venobox.min.js' %}"></script>
  <script src="{% static 'assets/vendor/owl.carousel/owl.carousel.min.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'assets/js/main.js' %}"></script>

</body>

</html>