{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Ayam Kampung Anda Alot? Coba Empat Cara Ini dan Rasakan Empuknya! | Foodie</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'assets/img/favicon.png' %}" rel="icon">
  <link href="{% static 'assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/icofont/icofont.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/venobox/venobox.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/owl.carousel/assets/owl.carousel.min.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Lumia - v2.2.0
  * Template URL: https://bootstrapmade.com/lumia-bootstrap-business-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
  <style type="text/css">
    ol {margin-left: 0;}
    li { list-style-position: inside; }
    .container-portfolio {
      margin: auto;
      width: 50%;
    }
    @media only screen and (max-width:800px) {
    /* For tablets: */
    .container-portfolio {
      margin: auto;
      width: 80%;
      padding: 0;
    }
  }
  @media only screen and (max-width:500px) {
    /* For mobile phones: */
    .container-portfolio{
      margin: auto;
      width: 80%;
    }
  }
  </style>
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center">
      <div class="container d-flex align-items-center" style="width: 100%; box-sizing: content-box;">

      <div class="logo">
          <!-- <h1><a href="{% url 'index' %}">Foodie</a></h1> -->
          <!-- Uncomment below if you prefer to use an image logo -->
          <a href="{% url 'index' %}"><img src="{% static 'assets/img/logo.jpg' %}" style="width: 25%;" alt="logo"></a>
        </div>

      <nav class="nav-menu d-none d-xl-block" style="width: 100%;">
          <ul>
            <li><a href="{% url 'index' %}">Home</a></li>
            <li><a href="{% url 'kuliner-terkini' %}">Kuliner Terkini</a></li>
            <li><a href="{% url 'pojok-resep' %}">Pojok Resep</a></li>
            <li><a href="{% url 'fiber-foodie' %}">Fiber Foodie</a></li>
            <li><a href="{% url 'rekomendasi-tempat' %}">Rekomendasi Tempat</a></li>
            <li><a href="{% url 'tips-dan-trik' %}">Tips & Trik</a></li>
            <li><a href="{% url 'profil' %}">Profil</a></li>

        </ul>
      </nav><!-- .nav-menu -->

    </div>
  </header><!-- End Header -->

  <main id="main">

    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
      <div class="container-portfolio">

        <div class="portfolio-details-container">
          <br><br><br><br><br><br>
          <h1 style="text-align: center;">Ayam Kampung Anda Alot? Coba Empat Cara Ini dan Rasakan Empuknya!</h1>
          <br><br>

          <div class="owl-carousel portfolio-details-carousel">
            <img src="{% static 'assets/img/tips-and-trik/tips-and-trik-6.jpg' %}" class="img-fluid" alt="">
          </div>
          <p style="text-align: center;">Sumber foto : Pinterest</p>
          <h6>Reporter : Dea Afifa</h6>

        </div>

        <div class="portfolio-description" style="overflow-wrap: break-word">
          <p style="text-align: justify;"><b>Bekasi, Foodie.id —</b> Kini ayam kampung lebih banyak dipilih dibanding ayam negeri karena manfaat kesehatannya yang lebih banyak. Bahkan untuk makanan anak, lebih disarankan menggunakan ayam kampung karena makanannya lebih alami dan tanpa ada bahan kimia atau obat-obatan tertentu.</p>
          <p style="text-align: justify;">Tapi memang tekstur daging ayam kampung jauh lebih keras daripada ayam negeri. Sehingga kita harus tahu bagaimana cara memasak ayam kampung agar dagingnya lunak dan enak saat dimakan.</p>
          <p style="text-align: justify;">Nah, sebelum masak ayam kampung, ada baiknya lihat tips yang satu ini agar dagingnya empuk.</p>
          
          <ol>
            <li style="text-align: justify;"> Gunakan nanas 
              <p></p>
              <p style="text-align: justify;">Selain untuk daging kambing, nanas juga bisa digunakan untuk melunakkan daging ayam kampung. Cara penggunaannya adalah dengan menghancurkan nanas, kemudian lumuri pada ayam hingga merata. Setelah didiamkan beberapa menit, cuci ayam di bawah air yang mengalir sampai bersih.</p>
              <p style="text-align: justify;">Tapi terdapat kekurangan jika melunakkan daging menggunakan nanas. Rasa asam dan manis nanas bisa menempel pada ayam. Sehingga saat ayam kampung sudah jadi sajian, pasti akan terasa sedikit rasa nanas pada ayam.</p>
            </li>
            <br>
            <li style="text-align: justify;"> Gunakan daun pepaya
              <p></p>
              <p style="text-align: justify;">Solusi lain untuk melunakkan ayam kampung adalah dengan daun pepaya. Kalau menggunakan daun pepaya, tidak akan rasa yang menempel pada ayam. Cara penggunaannya sama dengan nanas. Baik nanas ataupun daun pepaya bisa membantu proses pelunakan ayam kampung saat di presto atau menggunakan <i>slow cooker.</i></p>
            </li>
            <br>
            <li style="text-align: justify;"> Presto
              <p></p>
              <p style="text-align: justify;">Pada dasarnya, memasak ayam kampung memang membutuhkan waktu yang lama karena teksturnya yang keras. Tapi semakin lama dimasak, maka saripati ayam akan semakin keluar dan membuat ayam kampung rasanya semakin enak.</p>
              <p style="text-align: justify;">Untuk itu, kita bisa mencoba metode presto untuk melunakkan daging ayam kampung.</p>
            </li>
            <br>
            <li style="text-align: justify;"> Slow cook
              <p></p>
              <p style="text-align: justify;">Cara lain yang bisa dilakukan adalah dengan menggunakan <i>slow cooker.</i> Namun kalau menggunakan metode ini, kita harus menunggu 6 sampai 12 jam tergantung dari panci <i>slow cooker</i> yang digunakan. Biasanya kita harus meninggalkan ayam kampung semalaman untuk dapat tekstur yang empuk.</p>
            </li>
          </ol>
          <br>
          <p style="text-align: justify;">Nah, dengan begini dijamin daging ayam kampung akan empuk. Selamat mencoba Foodies!</p>
        </div>
    </section><!-- End Portfolio Details Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="container d-md-flex py-4">

      <div class="mr-md-auto text-center text-md-left">
        <div class="copyright">
          &copy; Copyright <strong><span>Lumia</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
          <!-- All the links in the footer should remain intact. -->
          <!-- You can delete the links only if you purchased the pro version. -->
          <!-- Licensing information: https://bootstrapmade.com/license/ -->
          <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/lumia-bootstrap-business-template/ -->
          Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
        </div>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'assets/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/jquery.easing/jquery.easing.min.js' %}"></script>
  <script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>
  <script src="{% static 'assets/vendor/waypoints/jquery.waypoints.min.js' %}"></script>
  <script src="{% static 'assets/vendor/counterup/counterup.min.js' %}"></script>
  <script src="{% static 'assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'assets/vendor/venobox/venobox.min.js' %}"></script>
  <script src="{% static 'assets/vendor/owl.carousel/owl.carousel.min.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'assets/js/main.js' %}"></script>

</body>

</html>