{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Enam Tips dan Cara Diet Alami Turunkan Berat Badan | Foodie</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'assets/img/favicon.png' %}" rel="icon">
  <link href="{% static 'assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/icofont/icofont.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/venobox/venobox.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/owl.carousel/assets/owl.carousel.min.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Lumia - v2.2.0
  * Template URL: https://bootstrapmade.com/lumia-bootstrap-business-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
  <style type="text/css">
    ol {margin-left: 0;}
    li { list-style-position: inside; }
    .container-portfolio {
      margin: auto;
      width: 50%;
    }
    @media only screen and (max-width:800px) {
    /* For tablets: */
    .container-portfolio {
      margin: auto;
      width: 80%;
      padding: 0;
    }
  }
  @media only screen and (max-width:500px) {
    /* For mobile phones: */
    .container-portfolio{
      margin: auto;
      width: 80%;
    }
  }
  </style>
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center">
      <div class="container d-flex align-items-center" style="width: 100%; box-sizing: content-box;">

      <div class="logo">
          <!-- <h1><a href="{% url 'index' %}">Foodie</a></h1> -->
          <!-- Uncomment below if you prefer to use an image logo -->
          <a href="{% url 'index' %}"><img src="{% static 'assets/img/logo.jpg' %}" style="width: 25%;" alt="logo"></a>
        </div>

      <nav class="nav-menu d-none d-xl-block" style="width: 100%;">
          <ul>
            <li><a href="{% url 'index' %}">Home</a></li>
            <li><a href="{% url 'kuliner-terkini' %}">Kuliner Terkini</a></li>
            <li><a href="{% url 'pojok-resep' %}">Pojok Resep</a></li>
            <li><a href="{% url 'fiber-foodie' %}">Fiber Foodie</a></li>
            <li><a href="{% url 'rekomendasi-tempat' %}">Rekomendasi Tempat</a></li>
            <li><a href="{% url 'tips-dan-trik' %}">Tips & Trik</a></li>
            <li><a href="{% url 'profil' %}">Profil</a></li>

        </ul>
      </nav><!-- .nav-menu -->

    </div>
  </header><!-- End Header -->

  <main id="main">

    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
      <div class="container-portfolio">

        <div class="portfolio-details-container">
          <br><br><br><br><br><br>
          <h1 style="text-align: center;">Enam Tips dan Cara Diet Alami Turunkan Berat Badan</h1>
          <br><br>

          <div class="owl-carousel portfolio-details-carousel">
            <img src="{% static 'assets/img/tips-and-trik/tips-and-trik-7.jpg' %}" class="img-fluid" alt="">
          </div>
          <p style="text-align: center;">Sumber foto : Pinterest</p>
          <h6>Reporter : Dea Afifa</h6>

        </div>

        <div class="portfolio-description" style="overflow-wrap: break-word">
          <p style="text-align: justify;"><b>Bekasi, Foodie.id —</b>Dengan cara diet alami di bawah ini, istilah “diet mulai besok” bisa Anda hindari. Sebab cara-cara di bawah ini tidak mengharuskan Anda melakukan perubahan pola hidup secara drastis, melainkan perlahan-lahan mengubahnya menjadi lebih sehat. Jadi, langkah ini akan terasa lebih ringan.</p>

          <ol>
            <li style="text-align: justify;"> Menambah asupan protein
              <p></p>
              <p style="text-align: justify;">Untuk urusan menurunkan berat badan, protein adalah nutrisi yang bisa dibilang paling berpengaruh. Sebab saat tubuh mengolah protein yang Anda konsumsi, di waktu yang bersamaan juga akan terjadi pembakaran kalori. Semakin banyak protein yang dikonsumsi, maka pembakaran kalori yang terjadi juga akan semakin tinggi.</p>
            </li>
            <br>
            <li style="text-align: justify;"> Menghindari makanan dalam kemasan dan olahan
              <p></p>
              <p style="text-align: justify;">Hindari makanan dalam kaleng atau kemasan yang banyak dijual di supermarket. Sebab, makanan tersebut umumnya tinggi akan kandungan gula, lemak, dan kalori. Tentu, jika ingin menurunkan berat badan, hal-hal tersebut tidak akan membantu perjuangan Anda.</p>
            </li>
            <br>
            <li style="text-align: justify;"> Memenuhi stok makanan dan camilan sehat di rumah
              <p></p>
              <p style="text-align: justify;">Menjalani diet bukan berarti Anda tidak boleh makan sama sekali. Hanya saja, jenis makanan yang dikonsumsi sebaiknya diganti dengan yang lebih sehat. Mengganti cemilan dan stok makanan di rumah menjadi makanan yang lebih sehat bisa menjadi awal untuk mengubah kebiasaan makan Anda. Mulai sekarang, cobalah untuk mulai menyimpan yogurt, buah, kacang-kacangan, dan telur rebus di rumah sebagai alternatif camilan yang lebih sehat.</p>
            </li>
            <br>
            <li style="text-align: justify;"> Membatasi konsumsi gula
              <p></p>
              <p style="text-align: justify;">Banyak orang tidak menyadari gula yang mereka konsumsi sudah jauh melebihi kadar yang direkomendasikan. Padahal, kelebihan gula di dalam tubuh akan disimpan dalam bentuk lemak dan membuat berat badan terus naik.Untuk membatasi konsumsi gula, Anda bisa mulai dari cara yang sederhana seperti mengurangi konsumsi makanan dan minuman dalam kemasan. Anda juga bisa mencari alternatif pengganti gula yang tetap bisa memberikan rasa manis, tapi lebih sehat.</p>
            </li>
            <br>
            <li style="text-align: justify;"> Memperbanyak konsumsi sayur dan buah
              <p></p>
              <p style="text-align: justify;">Cara diet alami yang satu ini tentu sudah akrab di telinga Anda. Tidak heran, sebab sayur dan buah memang sangat efektif untuk membantu menurunkan berat badan.Kandungan vitamin, mineral, dan serat pada sayur serta buah sangatlah tinggi. Sementara itu, kandungan kalorinya cukup rendah. Kedua hal inilah yang membuatnya sangat cocok sebagai asupan orang yang sedang diet. Buah yang sebaiknya dikonsumsi saat diet seperti apel, jeruk, kiwi, alpukat, pisang, dan melon.</p>
            </li>
            <br>
            <li style="text-align: justify;"> Banyak minum air putih
              <p></p>
              <p style="text-align: justify;">Minum air putih mampu meningkatkan metabolisme di tubuh dan jika dilakukan sebelum makan, akan membuat Anda merasa lebih cepat kenyang. Selain itu, karena air putih tidak mengandung kalori, maka mengganti minuman kemasan dengan air putih akan membantu memangkas asupan kalori harian Anda.</p>
            </li>
          </ol>
          <br>
          <p style="text-align: justify;">Pilihlah salah satu atau beberapa tips yang Anda rasa paling mungkin dan mudah dilakukan dalam waktu dekat. Jika sudah konsisten menjalani langkah yang dianggap mudah, Anda bisa mencoba tips yang lainnya sehingga gaya hidup pun perlahan-lahan akan berubah jadi lebih sehat.</p
          </div>
    </section><!-- End Portfolio Details Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="container d-md-flex py-4">

      <div class="mr-md-auto text-center text-md-left">
        <div class="copyright">
          &copy; Copyright <strong><span>Lumia</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
          <!-- All the links in the footer should remain intact. -->
          <!-- You can delete the links only if you purchased the pro version. -->
          <!-- Licensing information: https://bootstrapmade.com/license/ -->
          <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/lumia-bootstrap-business-template/ -->
          Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
        </div>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'assets/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/jquery.easing/jquery.easing.min.js' %}"></script>
  <script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>
  <script src="{% static 'assets/vendor/waypoints/jquery.waypoints.min.js' %}"></script>
  <script src="{% static 'assets/vendor/counterup/counterup.min.js' %}"></script>
  <script src="{% static 'assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'assets/vendor/venobox/venobox.min.js' %}"></script>
  <script src="{% static 'assets/vendor/owl.carousel/owl.carousel.min.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'assets/js/main.js' %}"></script>

</body>

</html>