{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Sepuluh Tips Keren Masak di Dapur yang Perlu Diketahui | Foodie</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'assets/img/favicon.png' %}" rel="icon">
  <link href="{% static 'assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/icofont/icofont.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/venobox/venobox.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/owl.carousel/assets/owl.carousel.min.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Lumia - v2.2.0
  * Template URL: https://bootstrapmade.com/lumia-bootstrap-business-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
  <style type="text/css">
    ol {margin-left: 0;}
    li { list-style-position: inside; }
    .container-portfolio {
      margin: auto;
      width: 50%;
    }
    @media only screen and (max-width:800px) {
    /* For tablets: */
    .container-portfolio {
      margin: auto;
      width: 80%;
      padding: 0;
    }
  }
  @media only screen and (max-width:500px) {
    /* For mobile phones: */
    .container-portfolio{
      margin: auto;
      width: 80%;
    }
  }
  </style>
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center">
      <div class="container d-flex align-items-center" style="width: 100%; box-sizing: content-box;">

      <div class="logo">
          <!-- <h1><a href="{% url 'index' %}">Foodie</a></h1> -->
          <!-- Uncomment below if you prefer to use an image logo -->
          <a href="{% url 'index' %}"><img src="{% static 'assets/img/logo.jpg' %}" style="width: 25%;" alt="logo"></a>
        </div>

      <nav class="nav-menu d-none d-xl-block" style="width: 100%;">
          <ul>
            <li><a href="{% url 'index' %}">Home</a></li>
            <li><a href="{% url 'kuliner-terkini' %}">Kuliner Terkini</a></li>
            <li><a href="{% url 'pojok-resep' %}">Pojok Resep</a></li>
            <li><a href="{% url 'fiber-foodie' %}">Fiber Foodie</a></li>
            <li><a href="{% url 'rekomendasi-tempat' %}">Rekomendasi Tempat</a></li>
            <li><a href="{% url 'tips-dan-trik' %}">Tips & Trik</a></li>
            <li><a href="{% url 'profil' %}">Profil</a></li>

        </ul>
      </nav><!-- .nav-menu -->

    </div>
  </header><!-- End Header -->

  <main id="main">

    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
      <div class="container-portfolio">

        <div class="portfolio-details-container">
          <br><br><br><br><br><br>
          <h1 style="text-align: center;">Sepuluh Tips Keren Masak di Dapur yang Perlu Diketahui</h1>
          <br><br>

          <div class="owl-carousel portfolio-details-carousel">
            <img src="{% static 'assets/img/tips-and-trik/tips-and-trik-3.jpg' %}" class="img-fluid" alt="">
          </div>
          <p style="text-align: center;">Sumber foto : Pinterest</p>
          <h6>Reporter : Dea Afifa</h6>

        </div>

        <div class="portfolio-description" style="overflow-wrap: break-word">
          <p style="text-align: justify;"><b>Bekasi, Foodie.id —</b> Hai Foodies! ada yang suka dengan urusan dapur dan masak memasak? Pas banget nih, kali ini Foodie akan kasih tips buat kalian yang memiliki hobi masak. Sudah tau belum tentang hal sederhana yang mengganggu tapi sering kita lakukan saat di dapur?</p>
          <p style="text-align: justify;">Berikut ini 10 hal yang bisa membuat hidupmu lebih bermakna dan terlihat keren saat berada di dapur:</p>
          
          <p style="text-align: justify;"><b>1. Cara Mengupas Telur Rebus yang Masih Panas</b></p>
          <p style="text-align: justify;">Agar telur rebus tidak susah dikupas saat masih panas, kita bisa celupkan kedalam air es. Setelah itu, kita bisa dengan mudah mengupas cangkang telur.</p>
          
          <p style="text-align: justify;"><b>2. Tusuk atau Lukai Cabe</b></p>
          <p style="text-align: justify;">Agar cabe tidak meletup-letup saat digoreng, kita bisa tusuk atau lukai sedikit cabe dengan pisau sebelum digoreng.</p>
          
          <p style="text-align: justify;"><b>3. Membilas Sayur dengan Garam</b></p>
          <p style="text-align: justify;">Saat mencuci kangkung, selada air atau genjer serta tanaman air lainnya jangan lupa saat bilasan pertama bubuhkan sesendok garam lalu diamkan sejenak agar binatang-binatan kecil yang mungkin hidup di batang dan daunnya mati. Biasanya yang hobi nongkrong disitu lintah, keong, ulat dan cacing air. Brokoli dan kembang kol juga sering ada ulatnya, jadi jangan lupa pula menggunakan cara ini.</p>
         
          <p style="text-align: justify;"><b>4. Cuci Bersih Tahu dan Siram dengan Air Panas</b></p>
          <p style="text-align: justify;">Agar tahu lebih awet ketika disimpan, cuci bersih dengan air, kemudian siram dengan air panas, setelah itu lap dengan tisu dapur, simpan didalam <i>tupperware,</i> tutup rapat, kemudian letakkan di dalam kulkas. Jika tahu adalah kualitas baik maka bisa bertahan selama 1 minggu.</p>
          
          <p style="text-align: justify;"><b>5. Mengetahui Telur Busuk atau Tidak</b></p>
          <p style="text-align: justify;">Untuk mengetahui telur busuk atau tidak bisa gunakan tes apung air, jika mengapung diatas air itu tandanya telur sudah busuk.</p>
          
          <p style="text-align: justify;"><b>6. Jangan Simpan Sayur di Kulkas Menggunakan Plastik Kresek</b></p>
          <p style="text-align: justify;">Jika menyimpan sayuran di dalam kulkas, jangan menggunak tas plastik kresek, tapi gunakan koran atau majalah bekas. Sebab dengan cara ini bisa mencegah air embun sayuran menggenang yang bisa mengakibatkan sayur cepat busuk.</p>
          
          <p style="text-align: justify;"><b>7. Agar Mata Tidak Pedih Saat Mengiris Bawang</b></p>
          <p style="text-align: justify;">Agar mata tidak pedih ketika mengiris bawang merah, letakkan wadah berisi garam disamping talenan, dengan cara ini kita bisa menghindarkan mata dari rasa pedih.</p>
         
          <p style="text-align: justify;"><b>8. Menghilangkan Kutu Beras</b></p>
          <p style="text-align: justify;">Agar beras tidak dikerubungi kutu beras, letakkan sebungkus plastik yang berisi beberapa sendok kopi bubuk, kemudian beri sedikit lubang pada plastiknya. Kutu beras tidak suka aroma kopi, Dalam beberapa saat kutu akan keluar dan tidak akan kembali lagi.</p>
          
          <p style="text-align: justify;"><b>9. Stabilkan Suhu Pada Telur yang Akan di Buat Kue</b></p>
          <p style="text-align: justify;">Ketika akan mengocok telur untuk berbagai macam kue, pastikan telur dalam keadaan suhu ruang/stabil, jangan dalam keadaan dingin, karena hal ini bisa membuat adonan tidak mengembang.</p>
          
          <p style="text-align: justify;"><b>10. Cara Menyimpan Daging di Freezer</b></p>
          <p style="text-align: justify;">Jika menyimpan daging di freezer, pastikan daging tidak keluar masuk freezer berulang kali, karena hal ini bisa membuat bakteri berkembangbiak. Sebaiknya potong-potong dulu dagingnya sesuai dengan perkiraan kebutuhan per tiapkali masak dan simpan di plastik kecil-kecil secara terpisah, sehingga ketika akan mengambil, bisa ambil seperlunya saja.</p>
          
        </div>
    </section><!-- End Portfolio Details Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="container d-md-flex py-4">

      <div class="mr-md-auto text-center text-md-left">
        <div class="copyright">
          &copy; Copyright <strong><span>Lumia</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
          <!-- All the links in the footer should remain intact. -->
          <!-- You can delete the links only if you purchased the pro version. -->
          <!-- Licensing information: https://bootstrapmade.com/license/ -->
          <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/lumia-bootstrap-business-template/ -->
          Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
        </div>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'assets/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/jquery.easing/jquery.easing.min.js' %}"></script>
  <script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>
  <script src="{% static 'assets/vendor/waypoints/jquery.waypoints.min.js' %}"></script>
  <script src="{% static 'assets/vendor/counterup/counterup.min.js' %}"></script>
  <script src="{% static 'assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'assets/vendor/venobox/venobox.min.js' %}"></script>
  <script src="{% static 'assets/vendor/owl.carousel/owl.carousel.min.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'assets/js/main.js' %}"></script>

</body>

</html>