{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>TIPS DAN TRIK MENYIMPAN BAWANG MERAH AGAR TIDAK CEPAT BUSUK | Foodie</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'assets/img/favicon.png' %}" rel="icon">
  <link href="{% static 'assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/icofont/icofont.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/venobox/venobox.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/owl.carousel/assets/owl.carousel.min.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Lumia - v2.2.0
  * Template URL: https://bootstrapmade.com/lumia-bootstrap-business-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
  <style type="text/css">
    ol {margin-left: 0;}
    li { list-style-position: inside; }
    .container-portfolio {
      margin: auto;
      width: 50%;
    }
    @media only screen and (max-width:800px) {
    /* For tablets: */
    .container-portfolio {
      margin: auto;
      width: 80%;
      padding: 0;
    }
  }
  @media only screen and (max-width:500px) {
    /* For mobile phones: */
    .container-portfolio{
      margin: auto;
      width: 80%;
    }
  }
  </style>
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center">
      <div class="container d-flex align-items-center" style="width: 100%; box-sizing: content-box;">

      <div class="logo">
          <!-- <h1><a href="{% url 'index' %}">Foodie</a></h1> -->
          <!-- Uncomment below if you prefer to use an image logo -->
          <a href="{% url 'index' %}"><img src="{% static 'assets/img/logo.jpg' %}" style="width: 25%;" alt="logo"></a>
        </div>

      <nav class="nav-menu d-none d-xl-block" style="width: 100%;">
          <ul>
            <li><a href="{% url 'index' %}">Home</a></li>
            <li><a href="{% url 'kuliner-terkini' %}">Kuliner Terkini</a></li>
            <li><a href="{% url 'pojok-resep' %}">Pojok Resep</a></li>
            <li><a href="{% url 'fiber-foodie' %}">Fiber Foodie</a></li>
            <li><a href="{% url 'rekomendasi-tempat' %}">Rekomendasi Tempat</a></li>
            <li><a href="{% url 'tips-dan-trik' %}">Tips & Trik</a></li>
            <li><a href="{% url 'profil' %}">Profil</a></li>

        </ul>
      </nav><!-- .nav-menu -->

    </div>
  </header><!-- End Header -->

  <main id="main">

    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
      <div class="container-portfolio">

        <div class="portfolio-details-container">
          <br><br><br><br><br><br>
          <h1 style="text-align: center;">TIPS DAN TRIK MENYIMPAN BAWANG MERAH AGAR TIDAK CEPAT BUSUK</h1>
          <br><br>

          <div class="owl-carousel portfolio-details-carousel">
            <img src="{% static 'assets/img/tips-and-trik/tips-and-trik-2.jpg' %}" class="img-fluid" alt="">
          </div>
          <p style="text-align: center;">Sumber foto : Pinterest</p>
          <h6>Reporter : Dea Afifa</h6>

        </div>

        <div class="portfolio-description" style="overflow-wrap: break-word">
          <p style="text-align: justify;"><b>Bekasi, Foodie.id —</b> Bawang menjadi salah satu bumbu masakan yang sering digunakan. Bawang akan membuat masakan menjadi lebih gurih, sedap dan harum. Karena bumbu yang satu ini sangat dibutuhkan dalam masakan, maka banyak orang yang menyetoknya di rumah. Hanya saja, terkadang banyak yang mengeluh bawang tidak awet dan mudah busuk. Berikut adalah tips dan trik menyimpan bawang agar tidak cepat busuk.</p>

          <br>
          <p style="text-align: justify;"><b>Simpan Bawang yang Masih Utuh Pada Tempat Terbuka</b></p>
          <p style="text-align: justify;">Ketika membeli bawang, pastikan bawang yang anda beli masih segar dan bagus. Sebab jika anda membeli bawang yang kondisinya tidak baik nantinya tidak akan awet. Setelah anda membeli bawang, jangan simpan bawang terlalu lama di dalam plastik. Segera keluarkan bawang dari plastik yang membungkusnya, lalu anda bisa menyimpannya dalam wadah yang terbuka seperti baki atau lain sebagainya. Lalu bawang bisa dijemur atau diangin-anginkan. Langkah seperti ini dilakukan untuk membuat kelembaban bawang berkurang, dimana hal itu menjadi penyebab utama bawang menjadi busuk. Apabila bawang sudah kering, sebaiknya anda menyimpan bawang di dalam wadah yang memiliki lubang atau jaring-jaring. Selain itu, anda juga bisa menyimpan bawang di dalam wadah bambu sebab memiliki lubang kecil yang banyak sebagai sirkulasi udara. Setelah itu, silakan simpan bawang tersebut pada tempat yang memiliki ventilasi yang baik, serta tidak lembab dan panas.</p>
          
          <br>
          <p style="text-align: justify;"><b>Hindari menyimpan bawang di dalam kulkas</b></p>
          <p style="text-align: justify;">Menyimpan bawang dalam kulkas akan membuatnya cepat busuk dan bertunas. Dalam satu tempat sebaiknya anda tidak menumpuknya terlalu banyak. Ini dilakukan untuk menjaga agar sirkulasi udara tetap dalam keadaan baik. Simpan Bawang Terpisah dengan Sayuran yang Lainnya Ketika disimpan setiap sayuran akan mengeluarkan gasnya masing-masing, begitupun dengan bawang. Ketika menyimpan bawang, sebaiknya anda jangan menggabungkannya dengan sayuran yang lainnya. Simpan bawang terpisah dengan sayuran lainnya agar efek penguapan gas berkurang yang dapat membuat bawang menjadi lebih mudah busuk.</p>
          
          <br>
          <p style="text-align: justify;"><b>Bawang yang Sudah Dikupas</b></p>
          <p style="text-align: justify;">Cara menyimpan bawang yang sudah dikupas juga harus diperhatikan. Setelah membeli bawang, anda bisa mengupasnya untuk bawang stok. Menyetok bawang yang sudah dikupas akan lebih awet dan tahan lama. Anda bisa meletakan bawang yang sudah dikupas di dalam kulkas. Dengan kondisi seperti ini, bawang yang sudah dikupas akan bertahan cukup lama yakni sekitar 2 sampai 3 minggu. Untuk bawang bombay yang penggunaannya tidak sesering seperti bawang putih dan bawang merah, anda bisa menyimpannya dalam wadah yang kedap udara. Silakan simpan di luar kulkas. Ini dilakukan supaya bawang bombay tetap segar, tidak lembek ataupun menciut.</p>
          
          <br>
          <p style="text-align: justify;"><b>Bawang Iris atau Bawang Tumbuk</b></p>
          <p style="text-align: justify;">Bawang yang sudah dihaluskan atau bawang yang sudah diiris biasanya akan lebih tahan lama disimpan sebab tidak akan mudah membusuk. Bawang tumbuk dan bawang iris juga lebih praktis ketika digunakan saat anda memasak. Simpan bawang iris dan bawang yang telah dihaluskan dalam tempat yang kedap udara dan letakan di dalam kulkas. Agar lebih tahan lama lagi, anda bisa menyimpannya dalam freezer.</p>
          <p style="text-align: justify;">Nah, itulah beberapa cara menyimpan bawang agar awet dan tahan lama. Kini anda bisa menyetok bawang di rumah tanpa takut busuk. Semoga informasi yang kami berikan untuk anda bermanfaat ya Foodies!</p>
          
        </div>
    </section><!-- End Portfolio Details Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="container d-md-flex py-4">

      <div class="mr-md-auto text-center text-md-left">
        <div class="copyright">
          &copy; Copyright <strong><span>Lumia</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
          <!-- All the links in the footer should remain intact. -->
          <!-- You can delete the links only if you purchased the pro version. -->
          <!-- Licensing information: https://bootstrapmade.com/license/ -->
          <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/lumia-bootstrap-business-template/ -->
          Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
        </div>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'assets/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/jquery.easing/jquery.easing.min.js' %}"></script>
  <script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>
  <script src="{% static 'assets/vendor/waypoints/jquery.waypoints.min.js' %}"></script>
  <script src="{% static 'assets/vendor/counterup/counterup.min.js' %}"></script>
  <script src="{% static 'assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'assets/vendor/venobox/venobox.min.js' %}"></script>
  <script src="{% static 'assets/vendor/owl.carousel/owl.carousel.min.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'assets/js/main.js' %}"></script>

</body>

</html>